In [1]:
# string formatting

In [2]:
s = "my name is %s"
s%"sourabh"

'my name is sourabh'

In [5]:
s = "my name is %s"s%"saurabh"

SyntaxError: invalid syntax (3470924840.py, line 1)

In [6]:
a= 5
b= 6
s = "value of a is %d and value of b is %d"

In [8]:
s%(a,b)   # for two values we need to put the bracket

'value of a is 5 and value of b is 6'

In [14]:
# %d,%s are format specifier it depends upon the type of varibales,if itis int then %d will be applied
# and if it is float then %f will be applied

In [12]:
print("a = %d and b=%d"%(a,b))   # same can  be written with print function also

a = 5 and b=6

In [19]:
b= "my name is %s"
b%"gourav"

'my name is gourav'

In [20]:
a = 8
b= 9
print("a=%d and b= %d"%(a,b))

a=8 and b= 9

In [21]:
# ARITHMETIC OPERATORS

In [23]:
2**3   # POWER OPERATOR

8

In [24]:
2**0.5

1.4142135623730951

In [26]:
2**-2    # two the power minus two

0.25

In [27]:
-2**2

-4

In [28]:
(-2)**2

4

In [29]:
2**3**2  # it is actually 2 the power 9 beacuse exponential opoerator will work from right to left

512

In [30]:
#  /,// DIVIDE OPERATOR

In [31]:
5\2

SyntaxError: unexpected character after line continuation character (1028162100.py, line 1)

In [34]:
5/2   # it will always give float type result   it is also known as true division

2.5

In [35]:
15/3

5.0

In [36]:
234/10

23.4

In [38]:
5//2   # floor division it will always give the lower value of the two

2

In [41]:
5.0//2   # if either is float then result will be float

2.0

In [42]:
10//3

3

In [44]:
2.5//2

1.0

In [45]:
25//5

5

In [47]:
5%2   # modolus operator   this will give remainder

1

In [49]:
5.0%2   # in c language we cannot write modulus operator with float value

1.0

In [50]:
2.5%2

0.5

In [2]:
3%4   # if we will ferom the modulous operation with bigger and smalller number then result will be 
      # smaller

3

In [3]:
234%10

4

In [4]:
3+4j + 2-j

NameError: name 'j' is not defined

In [5]:
3+4j + 2-1j

(5+3j)

In [7]:
"abc"+"def"   # when it is str type data + operation will become concatination operation

'abcdef'

In [8]:
a = 0b101
b= 0b100
a+b

9

In [10]:
bin(a+b)   # if you want result in binary

'0b1001'

In [11]:
3*4

12

In [14]:
"ab"*4  # this time it is known as repetion operator and it will always give str type result

'abababab'

In [17]:
"ab"*4.5  # so you have to use int only for repetion value   not float

TypeError: can't multiply sequence by non-int of type 'float'

In [18]:
"ab"*"ab"

TypeError: can't multiply sequence by non-int of type 'str'

In [20]:
# relational operator  it will always give true and false value

In [21]:
3>4

False

In [22]:
10>3

True

In [23]:
10!=9

True

In [24]:
5>=5

True

In [30]:
10>8>6  # but in c   or c++language it is false   beacuse in  c langugae the result 1 for true and 
         # 0 for flase

True

In [31]:
8>7>6>5>4>3>2

True

In [33]:
8>7>6>5>4>3<2  # if any one condition is false then whole thing is false

False

In [34]:
# even we can compare the two string

In [36]:
"Ram">"Bharat"  #  in alphabatecal order one which comes later is greater and one which comes befor
                # is smaller

True

In [38]:
"Ram">200 # this is a inequality operator and two diffeerent data type cannot be compared
          # excecpt the float and int

TypeError: '>' not supported between instances of 'str' and 'int'

In [40]:
(3+4j)>(2-1j)  # in complex number there is nothing such as big or small

TypeError: '>' not supported between instances of 'complex' and 'complex'

In [43]:
4.5>4  # this one float and int still it works

True

In [44]:
True > False

True

In [45]:
True + True

2

In [47]:
"a"==97   # this one is a inequality operation and and it will never give error

False

In [1]:
"5"==5  # see it is  giving false but not error because one str and other is int

False

In [51]:
3+4j== 2-1j

False

In [53]:
ord("a")==97   # ord gives uincode

True

In [54]:
3!="3"

True

In [55]:
# logical operators   not ,and, or

In [56]:
3>4

False

In [58]:
not 3>4

True

In [59]:
(a,b)=5,4

In [60]:
a

5

In [61]:
a>0 and b/0

ZeroDivisionError: division by zero

In [63]:
a>0 or b/0   # in case of or if the first expresion is true than it is true no need to check further

True

In [65]:
a<0 and b/0  # i case of false if the first expresssion is false that means whole expression is false

False

In [67]:
3 and 4  # if the operands is non- bool type then result is also non - bool

4

In [70]:
# in the above the outcomes  depend upon the value on which the result is depended
# non zero value always true and zero value is false

In [72]:
0 and 5  # since zero is false threrfore whole expression is false as it is a and operator

0

In [73]:
3 or 6

3

In [74]:
"Seeta" or "Geeta"

'Seeta'

In [76]:
3 and 4 and 5   # this time result is depending on 5

5

In [78]:
3 or 4 and 5  # since  it is a or operend therefore it is true and no need to check further

3

In [2]:
a = 97

In [3]:
a

97

In [4]:
bin(25)

'0b11001'

In [7]:
~25  # not oprator which belongs bitwise operator

-26

In [8]:
# asssingment operator

In [9]:
a=5
b=6

In [10]:
a=5,b=6

SyntaxError: cannot assign to literal (403356722.py, line 1)

In [11]:
a,b=5,6

In [13]:
# identity operator   is ,is not

In [14]:
a =5
b= 5

In [15]:
id(a)

2104049559984

In [16]:
id(b)

2104049559984

In [17]:
# in the above both the variables are refering to same object

In [20]:
a is b  # another easy way to find   use  is operator

True

In [21]:
a is not b

False

In [23]:
# membership operator  in , not in

In [25]:
3 in 435   # since int not iterable therefore error

TypeError: argument of type 'int' is not iterable

In [26]:
s = "my sirg"

In [29]:
"my" in s

True

In [30]:
"sir" in s

True

In [31]:
"i" not in s

False