In [1]:
l=[1,3,4,5,5]

In [2]:
for i in l:
    print(i,end=" ")

1 3 4 5 5

In [3]:
next(l)# next is a built-in function which extract information one by one and 
       # gives.

TypeError: 'list' object is not an iterator

In [4]:
b=iter(l)

In [5]:
next(b)

1

In [6]:
next(b)

3

In [7]:
next(b)

4

In [8]:
next(b)

5

In [9]:
next(b)

5

In [10]:
next(b)

StopIteration:

In [11]:
next(45)

TypeError: 'int' object is not an iterator

In [13]:
iter(45)

TypeError: 'int' object is not iterable

In [14]:
# iterator and iterable

In [15]:
# only the object or data which is iterable are converted into iterator
# by deffault str,list,tuple ,etc are iterable.
# but int is not iterable,float,complex,bool so therefore they cannot be
# converted into iterator.

In [16]:
for i in l:
    print(i,end=" ")

1 3 4 5 5

In [17]:
# so in the above how does for loop is working first of all it will convert
# list which is iterable into iterator by calling _ _iter_ _function and then
# it will fire(or call) next function to extract each element.

In [19]:
for i in (45678):# since int object is not iterable that is why for loop is  
    print(i)     # is not able to call iter funct to convert it into iterator
                 # and not able to extract or accesses the each element

TypeError: 'int' object is not iterable

In [22]:
s="sudh"# by default str is not an iterator but it is iterable

In [21]:
next(s)

TypeError: 'str' object is not an iterator

In [26]:
s="sudh"

In [27]:
s=iter(s)

In [28]:
next(s)

's'

In [29]:
next(s)

'u'

In [30]:
next(s)

'd'

In [31]:
next(s)

'h'

In [33]:
next(s)

StopIteration:

In [34]:
s="sudh"

In [35]:
for i in s:
    print(i,end=" ")

s u d h

In [36]:
# so for loop is internally using len(),iter(),next() to extract each element

In [1]:
t=5,6,7,8,9

In [2]:
type(t)

tuple

In [3]:
next(t)

TypeError: 'tuple' object is not an iterator

In [4]:
t=iter(t)

In [5]:
next(t)

5

In [6]:
next(t)

6

In [7]:
next(t)

7

In [8]:
next(t)

8

In [9]:
next(t)

9

In [10]:
next(t)

StopIteration:

In [11]:
# but in  real time we dont use iter()or next() funct

In [12]:
# generator

In [15]:
range(1,4) # range is like generator which is generting data set

range(1, 4)

In [14]:
list(range(1,4))

[1, 2, 3]

In [23]:
def square_fun(n):
    x=[ i*i  for i in range(n)]
    return x  # so returns basically return the whole data set not just object

In [2]:
square_fun(4)

[0, 1, 4, 9]

In [24]:
def square_fun1(n):
    x=[ i*i for i in range(n)]
    yield x # this will not return the whole data set but only object

In [5]:
square_fun1(4)# so it is not returning data like range which behaves like genrat

In [7]:
range(5)# so it is not returning actual data that i am expecting only giving 
        # object

range(0, 5)

In [8]:
for i in range(4):
    print(i,end=" ")

0 1 2 3

In [11]:
for i in square_fun1(4):# so iam able to create generator funct like range with the
    print(i,end=" ")     # help of yield

[0, 1, 4, 9]

In [12]:
# so above funct is generator which is not going give data set directly but
# on call of it.

In [13]:
next(square_fun1)

TypeError: 'function' object is not an iterator

In [14]:
next(square_fun1(4))

[0, 1, 4, 9]

In [15]:
next(range(4))

TypeError: 'range' object is not an iterator

In [17]:
r=iter(range(4))

In [18]:
next(r)

0

In [19]:
next(r)

1

In [20]:
next(r)

2

In [21]:
next(r)

3

In [22]:
next(r)

StopIteration:

In [25]:
# so to convert to any funct into generator funct keyword is yield

In [26]:
# fibonacci series (next number is sumation of previous two number) eg-1,1,2,3,5,
# 8,13,21.....

In [27]:
# let try to generat a funct for fibonacci seris

In [28]:
def genfib(n):
    a=1
    b=1
    l=[]
    for i in range(n):
        l.append(a)
        a,b=b,a+b
    return l

In [31]:
genfib(10)# it is returning data imideatily.

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
# but iam not looking for return of data set imdieatly. i want to generate it
# like range funct.

In [32]:
def genfib(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b

In [34]:
genfib(10) # so it is behaving like a range funct which is like generator
           # not returning the data imediatly.

In [36]:
for i in genfib(10):# so i can use this funct like range funct.
    print(i,end=" ")

1 1 2 3 5 8 13 21 34 55

In [1]:
# in the above disadvantage of return funct is that it will return the data set
# only when the list is prepared and to get the return of bigger list like fibnaki
# sequence of genfeb(100000000000) it will take lot of space time and will use 
# lot of resources.

In [2]:
# but with the help of generator funct we can overcome this issue.

In [3]:
# file operation

In [7]:
f=open("sudh1.text",'w')# here 'w'is mode and its means i want perform writing 
# operation on the file. if it is w+ means writing and reading both,if it is 
# 'r'means reading and 'r+'means reading and writing both.

In [5]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 7CEB-F270

 Directory of C:\Users\Intel

06/19/2022  06:37 PM            21,200    14th may classvariable in python intro .ipynb
07/12/2022  08:59 PM         5,124,661  29th may while loop and function.ipynb
09/05/2022  01:35 PM    <DIR>          .
09/05/2022  01:35 PM    <DIR>          ..
08/25/2021  05:19 PM    <DIR>          .cisco
06/22/2022  12:46 PM    <DIR>          .conda
04/21/2022  11:13 PM                25 .condarc
04/21/2022  11:12 PM    <DIR>          .continuum
09/03/2022  08:23 PM    <DIR>          .ipynb_checkpoints
04/22/2022  01:05 PM    <DIR>          .ipython
04/22/2022  06:54 PM    <DIR>          .jupyter
04/22/2022  12:44 PM                42 .python_history
08/26/2022  04:23 PM    <DIR>          __pycache__
08/25/2022  10:45 PM             3,067 11th june doubt session .ipynb
08/27/2022  12:22 PM             8,744 12th june exceptional handling sunny savita.ipynb
08/14/2022  09:23 PM             5,716 14th aug shukla sir.ipynb
06/22/2022  12:53 PM           100,362 15th may class.ipynb
08/17/2022  10:21 PM            19,536 16th aug shukla sir.ipynb
08/20/2022  06:26 PM            36,262 18th aug shukla sir.ipynb
09/05/2022  01:35 PM            27,968 18th june -iterator,generator,map,reduce,filter,basic,file operation.ipynb
08/22/2022  10:17 AM            19,287 20th aug shuka sir decision control.ipynb
06/25/2022  08:38 PM           165,042 21st may class list ,tuple, dict, sets.ipynb
08/23/2022  11:13 AM           348,248 21th aug shulka sir doubt and while loop.ipynb
06/27/2022  02:46 PM            80,180 22 may class if ,elif, else.ipynb
08/25/2022  08:32 PM            15,814 23rd aug shukla sir for loop range.ipynb
08/29/2022  08:04 PM            37,878 25th aug shukla sir list.ipynb
08/30/2022  05:00 PM            34,605 27th aug sukla sir str in python.ipynb
09/02/2022  06:57 AM           799,871 28th aug doubt-(assign-4,5,6),   tuple.ipynb
06/29/2022  09:19 PM           142,039 28th may for loop.ipynb
08/07/2021  11:57 AM    <DIR>          3D Objects
07/11/2022  04:12 PM            91,542 4th june revision and task solving.ipynb
07/24/2022  12:07 AM            66,465 5th june function.ipynb
08/26/2022  04:22 PM               604 A1.py
05/14/2022  10:21 PM    <DIR>          anaconda3
08/26/2022  12:48 PM             6,639 assignment 1 shukla sir.ipynb
08/27/2022  06:36 PM            14,535 assignment 2 shukla sir.ipynb
08/31/2022  05:27 PM             9,484 assignment -4 (user input problems) web development.ipynb
08/27/2022  08:10 PM             6,290 assignment-3 shukla sir.ipynb
09/02/2022  05:55 AM            13,422 assignment-6(Decision control) web development.ipynb
09/02/2022  12:59 PM               589 assignment-7(match case), webdevelopment.ipynb
09/03/2022  03:49 PM             7,654 assignment-8(while loop,part-1) webdevelopment.ipynb
09/03/2022  06:23 PM             8,944 assignment-9(while loop,part-2) web development.ipynb
08/31/2022  11:00 PM            10,961 asssignment-5 (operators) web development.ipynb
08/07/2021  11:57 AM    <DIR>          Contacts
05/21/2022  06:48 AM    <DIR>          Desktop
05/14/2022  03:12 PM    <DIR>          Documents
08/26/2022  04:24 PM    <DIR>          Downloads
08/07/2021  11:57 AM    <DIR>          Favorites
04/24/2022  01:34 PM             3,024 gourav_first_class.ipynb
05/21/2022  12:11 PM             6,848 homework 15th may.ipynb
08/07/2021  11:57 AM    <DIR>          Links
08/07/2021  11:57 AM    <DIR>          Music
08/16/2021  04:42 PM    <DIR>          OneDrive
05/14/2022  10:29 PM    <DIR>          Pictures
08/07/2021  11:57 AM    <DIR>          Saved Games
08/16/2021  09:07 AM    <DIR>          Searches
08/25/2022  09:22 PM            43,260 self practice function 5th june.ipynb
08/23/2022  11:04 PM         9,145,502 self practice while loop and function.ipynb
09/05/2022  01:35 PM                 0 sudh1.text
06/14/2022  03:32 PM    <DIR>          Tracing
05/16/2022  09:30 AM             9,255 Untitled.ipynb
05/21/2022  04:29 PM            21,535 Untitled1.ipynb
05/28/2022  06:44 PM               589 Untitled2.ipynb
08/26/2022  04:18 PM               736 Untitled3.ipynb
08/26/2022  04:21 PM                72 Untitled4.ipynb
08/26/2022  04:23 PM                72 Untitled5.ipynb
08/26/2022  04:24 PM               604 Untitled6.ipynb
08/25/2021  05:39 PM    <DIR>          Videos
              44 File(s)     16,459,173 bytes
              24 Dir(s)  48,687,067,136 bytes free

In [8]:
f.write("this is my very first file operation")

36

In [9]:
f.close()

In [11]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 7CEB-F270

 Directory of C:\Users\Intel

06/19/2022  06:37 PM            21,200    14th may classvariable in python intro .ipynb
07/12/2022  08:59 PM         5,124,661  29th may while loop and function.ipynb
09/05/2022  01:51 PM    <DIR>          .
09/05/2022  01:51 PM    <DIR>          ..
08/25/2021  05:19 PM    <DIR>          .cisco
06/22/2022  12:46 PM    <DIR>          .conda
04/21/2022  11:13 PM                25 .condarc
04/21/2022  11:12 PM    <DIR>          .continuum
09/03/2022  08:23 PM    <DIR>          .ipynb_checkpoints
04/22/2022  01:05 PM    <DIR>          .ipython
04/22/2022  06:54 PM    <DIR>          .jupyter
04/22/2022  12:44 PM                42 .python_history
08/26/2022  04:23 PM    <DIR>          __pycache__
08/25/2022  10:45 PM             3,067 11th june doubt session .ipynb
08/27/2022  12:22 PM             8,744 12th june exceptional handling sunny savita.ipynb
08/14/2022  09:23 PM             5,716 14th aug shukla sir.ipynb
06/22/2022  12:53 PM           100,362 15th may class.ipynb
08/17/2022  10:21 PM            19,536 16th aug shukla sir.ipynb
08/20/2022  06:26 PM            36,262 18th aug shukla sir.ipynb
09/05/2022  01:51 PM            39,959 18th june -iterator,generator,map,reduce,filter,basic,file operation.ipynb
08/22/2022  10:17 AM            19,287 20th aug shuka sir decision control.ipynb
06/25/2022  08:38 PM           165,042 21st may class list ,tuple, dict, sets.ipynb
08/23/2022  11:13 AM           348,248 21th aug shulka sir doubt and while loop.ipynb
06/27/2022  02:46 PM            80,180 22 may class if ,elif, else.ipynb
08/25/2022  08:32 PM            15,814 23rd aug shukla sir for loop range.ipynb
08/29/2022  08:04 PM            37,878 25th aug shukla sir list.ipynb
08/30/2022  05:00 PM            34,605 27th aug sukla sir str in python.ipynb
09/02/2022  06:57 AM           799,871 28th aug doubt-(assign-4,5,6),   tuple.ipynb
06/29/2022  09:19 PM           142,039 28th may for loop.ipynb
08/07/2021  11:57 AM    <DIR>          3D Objects
07/11/2022  04:12 PM            91,542 4th june revision and task solving.ipynb
07/24/2022  12:07 AM            66,465 5th june function.ipynb
08/26/2022  04:22 PM               604 A1.py
05/14/2022  10:21 PM    <DIR>          anaconda3
08/26/2022  12:48 PM             6,639 assignment 1 shukla sir.ipynb
08/27/2022  06:36 PM            14,535 assignment 2 shukla sir.ipynb
08/31/2022  05:27 PM             9,484 assignment -4 (user input problems) web development.ipynb
08/27/2022  08:10 PM             6,290 assignment-3 shukla sir.ipynb
09/02/2022  05:55 AM            13,422 assignment-6(Decision control) web development.ipynb
09/02/2022  12:59 PM               589 assignment-7(match case), webdevelopment.ipynb
09/03/2022  03:49 PM             7,654 assignment-8(while loop,part-1) webdevelopment.ipynb
09/03/2022  06:23 PM             8,944 assignment-9(while loop,part-2) web development.ipynb
08/31/2022  11:00 PM            10,961 asssignment-5 (operators) web development.ipynb
08/07/2021  11:57 AM    <DIR>          Contacts
05/21/2022  06:48 AM    <DIR>          Desktop
05/14/2022  03:12 PM    <DIR>          Documents
08/26/2022  04:24 PM    <DIR>          Downloads
08/07/2021  11:57 AM    <DIR>          Favorites
04/24/2022  01:34 PM             3,024 gourav_first_class.ipynb
05/21/2022  12:11 PM             6,848 homework 15th may.ipynb
08/07/2021  11:57 AM    <DIR>          Links
08/07/2021  11:57 AM    <DIR>          Music
08/16/2021  04:42 PM    <DIR>          OneDrive
05/14/2022  10:29 PM    <DIR>          Pictures
08/07/2021  11:57 AM    <DIR>          Saved Games
08/16/2021  09:07 AM    <DIR>          Searches
08/25/2022  09:22 PM            43,260 self practice function 5th june.ipynb
08/23/2022  11:04 PM         9,145,502 self practice while loop and function.ipynb
09/05/2022  01:49 PM                36 sudh1.text
06/14/2022  03:32 PM    <DIR>          Tracing
05/16/2022  09:30 AM             9,255 Untitled.ipynb
05/21/2022  04:29 PM            21,535 Untitled1.ipynb
05/28/2022  06:44 PM               589 Untitled2.ipynb
08/26/2022  04:18 PM               736 Untitled3.ipynb
08/26/2022  04:21 PM                72 Untitled4.ipynb
08/26/2022  04:23 PM                72 Untitled5.ipynb
08/26/2022  04:24 PM               604 Untitled6.ipynb
08/25/2021  05:39 PM    <DIR>          Videos
              44 File(s)     16,471,200 bytes
              24 Dir(s)  48,685,572,096 bytes free

In [2]:
f1=open("test1.txt",'w')

In [3]:
f1.write("this is a file operation i am trying to do in my fsds class ")

60

In [4]:
f1.close()

In [5]:
# now suppose i want to store a list into a file parmanently.

In [6]:
l=[1,2,3,3,4,5,6,7,8,77,56]

In [7]:
f2=open("test2.txt",'w')

In [8]:
f2.write(l) # argument should be str

TypeError: write() argument must be str, not list

In [9]:
f2.write(str(l))

35

In [10]:
f2.close()

In [11]:
# so file operation is important as  data is stored parmanently and can be
# used later on like we can used the code whenever we want we dont need excute
# it again and again.

In [12]:
f3=open("test.sudh",'w')
f3.write("my name is gourav ojha")
f3.close()

In [13]:
# in the above i have used .sudh extension which does not exist like .pdf,.txt,
#.mp4,.py,etc but we can write our own extension no issue.

In [22]:
# now another way of doing the same file operation. writefile is a keyword

In [21]:
%%writefile test5.txt  
this is my python program to write into a file in  different way
this is my python program to write into a file in  different way
this is my python program to write into a file in  different way
this is my python program to write into a file in  different way
this is my python program to write into a file in  different way

Overwriting test5.txt

In [17]:
# now suppose i want to read any file

In [18]:
f=open("test5.txt")

In [19]:
f.read()

'this is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\n'

In [23]:
f.read()

''

In [24]:
# in the above i am getting balnk when i am trying to read file Again because
# the data stored is str(type) and indexing is there.therefore once you have read 
# the data the pointer or cruser is present at last index and there is no data
#  after that.

In [2]:
f=open("test5.txt")

In [3]:
f.read()

'this is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\n'

In [4]:
f.read()

''

In [7]:
f.seek(0)# here seek brings the curser back to 0 index and we can read again.

0

In [6]:
f.read()

'this is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\n'

In [8]:
f.read()

'this is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\n'

In [9]:
f.read()

''

In [10]:
# seek is resposible for setting curser on particular index

In [12]:
f.seek(4) # now the curser is at 4th index

4

In [13]:
f.read()

' is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\n'

In [14]:
f.seek(50)

50

In [15]:
f.read()

' different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\n'

In [18]:
f1=open("test5.txt")

In [19]:
f1.tell() # here curser is at 0 index we find it with the help of tell()

0

In [20]:
f1.read()

'this is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\n'

In [22]:
f1.tell()  # here curser is at 330 index

330

In [32]:
f1.seek(5)

5

In [33]:
f1.tell()

5

In [29]:
 # it is reading from current curser which is present at 5th index
            # from there to 15 index.

In [34]:
f1.read(15)

'is my python pr'

In [35]:
f2=open("test5.txt")

In [36]:
f2.seek(0)

0

In [37]:
f2.read()

'this is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\nthis is my python program to write into a file in  different way\n'

In [38]:
f2.readline()

''

In [39]:
f2.seek(0)

0

In [40]:
f2.readline()

'this is my python program to write into a file in  different way\n'

In [41]:
f2.readlines()

['this is my python program to write into a file in  different way\n',
 'this is my python program to write into a file in  different way\n',
 'this is my python program to write into a file in  different way\n',
 'this is my python program to write into a file in  different way\n']

In [42]:
f2.fileno()

5

In [43]:
f=open("test.txt",'w')

In [44]:
f.write("""this is my pytho program to write into a file in different way""")

62

In [45]:
f.close()

In [47]:
f.write("wow momo what a tate")

ValueError: I/O operation on closed file.

In [48]:
f=open("test.txt",'w')

In [49]:
f.write("wow momo what a taste")

21

In [50]:
f.close()

In [51]:
# now in ("test.txt") file the statement will be changed and new statement 
# will be wow momo what a taste.

In [52]:
#in line 43 and line 48 both are same file but with different statement

In [53]:
f=open("test.txt",'a')

In [54]:
f.write("this is my new data set")

23

In [55]:
f.close()

In [56]:
# so in the above i am able to append new data set in existing data with the 
# help of 'a'which means append

In [63]:
# so 'r'means read,'w'means write,'a'means append,but there is something called
# 'w+'means file will open in read and write mode,'r+'means read and write mode
# but the difference between 'w+'and 'r+' is that if file does not exist then
# 'r+'will give error while 'w+'will try to create  new file.
#'a+' means simply it will try to create new file.

In [59]:
f.name()

TypeError: 'str' object is not callable

In [60]:
f.name

'test.txt'

In [61]:
f.closed

True

In [62]:
f.mode

'a'

In [64]:
f=open("d:/test.txt","w")

In [1]:
# in the above the file is saved in d drive so i can also choose the location
# where i want to save the file.

In [1]:
# map

In [2]:
l=[2,3,4,5,5,6] # i want list of square of each elemnet present in list.
l1=[]
for i in l:
    l1.append(i**2)

In [3]:
l1

[4, 9, 16, 25, 25, 36]

In [9]:
def sq(n):
    return n**2

In [5]:
sq(2,3,4,5,5,6)

TypeError: sq() takes 1 positional argument but 6 were given

In [6]:
sq([2,3,4,5,5,6])

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [10]:
map(sq,l)

In [12]:
list(map(sq,l))  # map basically take 2 agrguments 1st funct and itrable

[4, 9, 16, 25, 25, 36]

In [14]:
# so map does simple things it map the each element from iterable to funct and 
# gives result.
# in the above list is iterable
# it doesn't matter whether its a complex or simple operation it is just doing
# simple or maping of each element to funct.

In [15]:
map(lambda x : x**2,l)

In [16]:
list(map(lambda x : x**2,l))

[4, 9, 16, 25, 25, 36]

In [17]:
# so map always try to take 1st argument as funct that can outside funct like
# sq(n)or it could be lambda funct.

In [19]:
l # now  i want to convert each and every element of  list into str type

[2, 3, 4, 5, 5, 6]

In [20]:
list(map(lambda x : str(x),l))

['2', '3', '4', '5', '5', '6']

In [21]:
#or i can do the same with extarnal funct.

In [22]:
def str_c(n):
    return str(n)

In [23]:
list(map(str_c,l))

['2', '3', '4', '5', '5', '6']

In [24]:
# even inbuilt funct can always be used

In [25]:
list(map(str,l))

['2', '3', '4', '5', '5', '6']

In [26]:
# so based on the nature of the funct map  is going to return.

In [27]:
# reduce funct

In [28]:
# by default it is not avaiable and it is available in pacakage funct tool so 
# we have to import.

In [29]:
from functools import reduce

In [30]:
l=[3,4,5,6,7,8,9] # now i want sumation of all element present in the list

In [31]:
sum(l)

42

In [33]:
reduce(lambda a,b: a+b,l)

42

In [34]:
# so nature of reduce funct is going to be same as it will take 1st argument
# as funct and next as iterable.
# reduce funct always try to accumulate or aggrigate on top of any sequence 
# you have passed.

In [35]:
reduce(lambda a,b: a*b,l)

181440

In [36]:
reduce(lambda a,b,c:a+b+c,l)

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [37]:
# so in reduce try to take that funct which has two pararmeters.because there is
# a chance that it third one become null.

In [38]:
l=[3]

In [39]:
reduce(lambda a,b:a+b,l)

3

In [40]:
# in the above no error as it a exception

In [41]:
# we can also use external funct in reduce

In [42]:
# filter funct

In [43]:
# filter will return element if the condition is true.

In [44]:
l=[1,2,3,4,45,5]# i want even no.from the list.

In [45]:
filter(lambda x: x%2==0,l)

In [46]:
list(filter(lambda x: x%2==0,l))

[2, 4]

In [47]:
# even i can use external funct as well.

In [48]:
def check_even(n):
    if n%2==0:
        return True

In [49]:
list(filter(check_even,l))

[2, 4]

In [50]:
# filter operation always work on True or False condition.so if your return 
# statement is different from true or flase it is not going to work