In [ ]:
# list

In [6]:
l = [1,2,3,4,5, "sudh", 45.67 , True] # scaling concept is applicable in list also where it store data as index wise

In [4]:
l[0]

1

In [5]:
l[-1]

True

In [7]:
l[5]

'sudh'

In [8]:
len(l)

8

In [9]:
l[0:5] # slicing wise it is going to be same as that of string

[1, 2, 3, 4, 5]

In [10]:
l[::-1]

[True, 45.67, 'sudh', 5, 4, 3, 2, 1]

In [11]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [13]:
l[0:100] # in terms of slicing operation it is going to give output without error even 100 is not there but in terms of index operation it will have error

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [14]:
l[0:100:2]

[1, 3, 5, 45.67]

In [15]:
l[0:8:-1]

[]

In [16]:
l[:3]

[1, 2, 3]

In [18]:
l + "sudh" # error is due to two different data type list and string so it will not concatenate

TypeError: can only concatenate list (not "str") to list

In [19]:
"l" + "sudh"

'lsudh'

In [21]:
l + ["sudh"] # here both the data is list as "sudh " is converted into list[]

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'sudh']

In [22]:
l*2

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [25]:
60 in l # 60 is not present in the list therefore false

False

In [24]:
2 in l

True

In [30]:
max(l) #  result is error beacuse operator is not able to comapre int,string,floating ,boolean

TypeError: '>' not supported between instances of 'str' and 'int'

In [37]:
l1 = [3,4,5,6,6] #here we are geting the result as all are numeric value and operator is able to comapre

In [29]:
max(l1)

6

In [32]:
l2 = ["sudh", "kumar", "ineuron"]

In [34]:
max(l2) # here it is able to the comparison and inn case of string it is giving maximum value on the basis of alphabetical order

'sudh'

In [35]:
min(l1)

3

In [38]:
l3 = [1,2,3,4,5,6,7,8]

In [39]:
max(l3)

8

In [40]:
min(l3)

1

In [41]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [44]:
l.append("kumar") # apppend is going to add data into last index

In [43]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [47]:
l.append([1,2,3,4]) #even we can append list into list

In [46]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar', 'kumar', [1, 2, 3, 4]]

In [53]:
l.pop(0) # it remove the data from the list according to given index from the existing data means we can see over here that list after append has different data from the previous one

5

In [49]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kumar', 'kumar', [1, 2, 3, 4], [1, 2, 3, 4]]

In [57]:
l.pop() # so if we will not put index with pop it will remove data from last index

[1, 2, 3, 4]

In [56]:
l

['sudh', 45.67, True, 'kumar', 'kumar', [1, 2, 3, 4]]

In [58]:
l.reverse()

In [59]:
l

['kumar', 'kumar', True, 45.67, 'sudh']

In [60]:
l = [2,3,4,5,"sudh",45.67,True,'kumar']

In [61]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [62]:
l.reverse()

In [63]:
l

['kumar', True, 45.67, 'sudh', 5, 4, 3, 2]

In [64]:
l[::-1]

[2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [3]:
l = [2,3,4,5,"sudh",45.67,'kumar']

In [4]:
l[::-1]

['kumar', 45.67, 'sudh', 5, 4, 3, 2]

In [5]:
l[::-1]

['kumar', 45.67, 'sudh', 5, 4, 3, 2]

In [16]:
l.reverse() # this reverse function make parmanent change to data

In [7]:
l

['kumar', 45.67, 'sudh', 5, 4, 3, 2]

In [8]:
l.reverse()

In [9]:
l

[2, 3, 4, 5, 'sudh', 45.67, 'kumar']

In [10]:
l

[2, 3, 4, 5, 'sudh', 45.67, 'kumar']

In [11]:
l.reverse()

In [12]:
l

['kumar', 45.67, 'sudh', 5, 4, 3, 2]

In [13]:
l

['kumar', 45.67, 'sudh', 5, 4, 3, 2]

In [17]:
l[::-1] # it make temporary change to data

['kumar', 45.67, 'sudh', 5, 4, 3, 2]

In [15]:
l

['kumar', 45.67, 'sudh', 5, 4, 3, 2]

In [18]:
l.reverse()

In [19]:
l

['kumar', 45.67, 'sudh', 5, 4, 3, 2]

In [20]:
l

['kumar', 45.67, 'sudh', 5, 4, 3, 2]

In [25]:
l1  = [2,3,4,5,"sudh",45.67,'kumar']

In [26]:
l.append(1,2,3,4) # this will not be appended as append take single data at time but if u want to append this than u have to make them inside the list

TypeError: list.append() takes exactly one argument (4 given)

In [28]:
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [33]:
l3 = [8,98,34,23,1,0]

In [35]:
l3.sort()

In [36]:
l3

[0, 1, 8, 23, 34, 98]

In [40]:
l3.sort(reverse=True) # this fuction will arrange the data in deascending  order

In [38]:
l3

[98, 34, 23, 8, 1, 0]

In [41]:
l1 = [2,3,4]
l2 = [6,7,8]
l3 = [3,2,4]

In [42]:
l4 = [l1,l2,l3]

In [43]:
l4

[[2, 3, 4], [6, 7, 8], [3, 2, 4]]

In [44]:
# how to extract 2 from last l3?

In [50]:
l4[2][1]

2

In [51]:
l

[2, 3, 4, 5, 'sudh', 45.67, 'kumar']

In [52]:
l.count(2)

1

In [53]:
l5 = [3,4,5,3,3,3]

In [54]:
l5.count(3)

4

In [55]:
l

[2, 3, 4, 5, 'sudh', 45.67, 'kumar']

In [56]:
l.append("ineuron")

In [57]:
l

[2, 3, 4, 5, 'sudh', 45.67, 'kumar', 'ineuron']

In [58]:
l.append([4,56,"sudh"])

In [59]:
l

[2, 3, 4, 5, 'sudh', 45.67, 'kumar', 'ineuron', [4, 56, 'sudh']]

In [60]:
l.extend("sudh")

In [61]:
l

[2,
 3,
 4,
 5,
 'sudh',
 45.67,
 'kumar',
 'ineuron',
 [4, 56, 'sudh'],
 's',
 'u',
 'd',
 'h']

In [62]:
l6 = [1,2,3]

In [63]:
l6.append([4,5,6])

In [64]:
l6

[1, 2, 3, [4, 5, 6]]

In [65]:
l6.append("sudh")

In [66]:
l6

[1, 2, 3, [4, 5, 6], 'sudh']

In [70]:
l6.extend(45) # it will not extend integer the way it will string or list

TypeError: 'int' object is not iterable

In [68]:
l6.append(45)

In [69]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 45]

In [73]:
l6.extend([56,34,21]) # the difference between apppend and extend is that append will add data to last index as same as original data means if it is a string, it will remain string or list will remain list but extend will first unrap the data and then it will go to last index

In [72]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 45, 56, 34, 21]

In [74]:
l6.extend("sudh")

In [77]:
l6 # as u can see first it extend 's' and then append ,then it extend 'u' then append like wise 'd' and 'h'

[1, 2, 3, [4, 5, 6], 'sudh', 45, 56, 34, 21, 56, 34, 21, 's', 'u', 'd', 'h']

In [79]:
l6.index(1) # index function give the index of particular element in case of repeated element it will give index of element appearing first in the list

0

In [80]:
l7 = [1,2,3,4,5,6,6,7]

In [81]:
l7.index(6)

5

In [82]:
# difference between insert and append

In [83]:
l = [1,2,3,4,5]

In [84]:
l.append(45)

In [85]:
l

[1, 2, 3, 4, 5, 45]

In [1]:
l.insert() # so insert function bascially ask where u want to insert and what you want to insert

NameError: name 'l' is not defined

In [89]:
l.insert(1,[1,2,3,4]) # here i want to insert [1,2,3,4,] at index 1

In [88]:
l

[1, [1, 2, 3, 4], 2, 3, 4, 5, 45]

In [90]:
l.insert(5,"sudh")

In [91]:
l

[1, [1, 2, 3, 4], [1, 2, 3, 4], 2, 3, 'sudh', 4, 5, 45]

In [92]:
l.pop()

45

In [93]:
l

[1, [1, 2, 3, 4], [1, 2, 3, 4], 2, 3, 'sudh', 4, 5]

In [94]:
l.pop(2)

[1, 2, 3, 4]

In [95]:
l

[1, [1, 2, 3, 4], 2, 3, 'sudh', 4, 5]

In [96]:
l.remove(100)

ValueError: list.remove(x): x not in list

In [97]:
l.remove(4)

In [98]:
l

[1, [1, 2, 3, 4], 2, 3, 'sudh', 5]

In [99]:
# difference between pop and remove is that pop will remove the data according to index wise while remove, remove the data directly value wise

In [100]:
l.remove(3)

In [101]:
l

[1, [1, 2, 3, 4], 2, 'sudh', 5]

In [2]:
l = [1,2,3,4]

In [4]:
l[2] # index wise 3 is present at 2

3

In [8]:
l[2] = "sudh" # we can  replace data with another data with particular index

In [6]:
l

[1, 2, 'sudh', 4]

In [9]:
s = "ineuron"

In [10]:
s[2]

'e'

In [12]:
s[2] = "z" # here we cannot replace the data with another data as it is not allowed in string, because string is immutable

TypeError: 'str' object does not support item assignment

In [13]:
# STRING- is immutable , while LIST - is mutable so in list we can perform item assigment

In [14]:
#TUPLE ()

In [21]:
t = (4,5,6,7,"sudh",45.67,True)

In [16]:
type(t)

tuple

In [17]:
t(0)

TypeError: 'tuple' object is not callable

In [19]:
t[0] # tuple is having same scaling as that of list index wise

4

In [22]:
t[0:4]

(4, 5, 6, 7)

In [23]:
t[0:6:2]

(4, 6, 'sudh')

In [24]:
t[0:4:-1]

()

In [25]:
l = [1,2,3,456,78]

In [26]:
l[2]

3

In [27]:
l[2] = "kumar"

In [28]:
l

[1, 2, 'kumar', 456, 78]

In [29]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [30]:
t[2] = "sudh"

TypeError: 'tuple' object does not support item assignment

In [31]:
#TUPLES ARE IMMUTABLE

In [32]:
t1 = (3,4,5,6)

In [33]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [35]:
t + t1 # this operation is valid as we not changing the orginal index rather we are
adding another tuple to it there for concatenate is possible

(4, 5, 6, 7, 'sudh', 45.67, True, 3, 4, 5, 6)

In [37]:
t.count(3)

0

In [38]:
t.count(4)

1

In [41]:
t.index(0)

ValueError: tuple.index(x): x not in tuple

In [42]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [43]:
t.index(6)

2

In [44]:
t = (3,4,56,7, "sudh")

In [46]:
list(t) # to convert tuple into list i can use list function

[3, 4, 56, 7, 'sudh']

In [47]:
t2 = list(t)

In [50]:
t2 # this is list

[3, 4, 56, 7, 'sudh']

In [49]:
tuple(t2) # this is tuple

(3, 4, 56, 7, 'sudh')

In [51]:
# tuple can be converted to list and list can be converted tuple by using above function vice versa

In [52]:
# tuple can be use to store a passsword since it is immutable

In [53]:
#DICTIONARY {}

In [56]:
d = {}

In [57]:
type(d)

dict

In [58]:
d1 ={1}

In [62]:
type(d1) # if we will keep only one elrment in the curly bracket then it will be considerd as set

set

In [60]:
d2 = {'key1' : "value" , 234 : "xyz" , "name" : "sudh" , "no" : 34324345}

In [63]:
type(d2) # if u will asign a key and value then it is a dict

dict

In [2]:
d2 = {'key1' : "value" , 234 : "xyz" , "name" : "sudh" , "no" : 34324345}

In [6]:
d2['name'] # if i want to extract any value i can extract with the help of key in case of dict

'sudh'

In [5]:
d2["no"]

34324345

In [13]:
d3 = {'name' : "sudh" , 'tech' : ["python", "ML", "DL", "NLP", "CV", "Big data", "data analytics"] } # we can we asign any value to key string,list,tuple

In [10]:
d3

{'name': 'sudh',
 'tech': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

In [12]:
d3['tech'] # if some body ask me how much tech knowledge you have

['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']

In [14]:
"python" in d3['tech'] # if some body ask wether you know python or not so i can use IN operator

True

In [17]:
d4 = {"name":"ineuron" , "contact-info" : 345345, "name":"sudh"} # here i have taken key "name" twice which is not allowed in dict, a key should be unique but same value can be  taken multiple time with different key

In [16]:
d4

{'name': 'sudh', 'contact-info': 345345}

In [20]:
d4["k1"] = "xyz" # i want to add new value  to the dict than i will create new key and will asign a value to it

In [19]:
d4

{'name': 'sudh', 'contact-info': 345345, 'k1': 'xyz'}

In [23]:
d4['k2'] = d2 # if i want to create dict inside dict then it is posssible suppose i want to create k2 a new dict inside dict d4 and d2 is value

In [22]:
d4

{'name': 'sudh',
 'contact-info': 345345,
 'k1': 'xyz',
 'k2': {'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324345}}

In [25]:
d4['k2']['no']

34324345

In [2]:
d5 = {@ : "sudh"} # @ is not allowed as key

SyntaxError: invalid syntax (3286388619.py, line 1)

In [6]:
d6 = {_ : "gour"} # under score is allowd

In [5]:
d6[_]

'gour'

In [10]:
d7 = {(1,2,3,4) : "fsdf"} # tuple as a key is allowed

In [9]:
d7[(1,2,3,4)]

'fsdf'

In [12]:
d8 = {[1,2,3,4] : "dhjdhnjk"} # list as key is not allowed

TypeError: unhashable type: 'list'

In [14]:
d9 = {{3:4} : "sudh"} # so dict is also not allowed as key. there for as a key stirng,int,tuple are allowed but list and dict are not allowed

TypeError: unhashable type: 'dict'

In [18]:
d2 = {'key1' : 'value' , 234 : "xyz" , 'name': 'sudh', 'no': 343234345}

In [1]:
d2 + d7 # concatenate is not possible in dict

NameError: name 'd2' is not defined

In [21]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 343234345}

In [24]:
d2.keys() # if i have extract all key

dict_keys(['key1', 234, 'name', 'no'])

In [25]:
d2.values()

dict_values(['value', 'xyz', 'sudh', 343234345])

In [27]:
d2.items() #this function is going to give list of key & value, key & value will be present inside tuple

dict_items([('key1', 'value'), (234, 'xyz'), ('name', 'sudh'), ('no', 343234345)])

In [29]:
 s = {3,4,5,6,7,8}

In [30]:
type(s)

set

In [31]:
s1 = {3,4,4,5,6,6,7,7,8,8,9,9,0,0,0}

In [32]:
s1 # as repeation is not allowed in set there for i can use thius to place where

{0, 3, 4, 5, 6, 7, 8, 9}

In [2]:
s2 = {345,675,3245,4545,5645,675,6234,345}

In [3]:
s2

{345, 675, 3245, 4545, 5645, 6234}

In [4]:
s3 = {"sudh",324,34,12,645,12,5,'b','6'}

In [6]:
s3 # so set is going to give u a unique value but not in ascending & deascending value

{12, 324, 34, 5, '6', 645, 'b', 'sudh'}

In [8]:
s3[0] # we cannot perform index operation in sets like string, list, tuple

TypeError: 'set' object is not subscriptable

In [9]:
# once u convert the set into list,tuple,etc then we can perform various function

In [10]:
list(s3)

[34, 324, 5, 645, 12, '6', 'b', 'sudh']

In [11]:
tuple(s3)

(34, 324, 5, 645, 12, '6', 'b', 'sudh')

In [13]:
l = [2,3,4,5656,7,6,7,7,7,7,7,7,7] # i9f i want to remove repeated data then simply i can do uis that i can convert the list into set

In [14]:
set(l)

{2, 3, 4, 6, 7, 5656}

In [15]:
l = list(set(l))

In [16]:
l

[2, 3, 4, 6, 7, 5656]

In [17]:
s2.add(34)

In [18]:
s2

{34, 345, 675, 3245, 4545, 5645, 6234}

In [19]:
s2.add([1,2,3,4]) # so we can not add list to set as set add one by one

TypeError: unhashable type: 'list'

In [20]:
s = {(1,2,3,4,5) ,3,4,45,65,6}

In [21]:
s

{(1, 2, 3, 4, 5), 3, 4, 45, 6, 65}

In [24]:
s1 = {[1,2,3,4,5] , 345, 345} # mutable quantity cannot be kept inside the set

TypeError: unhashable type: 'list'

In [25]:
s

{(1, 2, 3, 4, 5), 3, 4, 45, 6, 65}

In [26]:
s.remove(3)

In [27]:
s

{(1, 2, 3, 4, 5), 4, 45, 6, 65}

In [28]:
s.discard(4)

In [29]:
s

{(1, 2, 3, 4, 5), 45, 6, 65}

In [30]:
# difference between remove and discard is that if remove function is used and element is not present in the set than it is going to give key error and in case of discard it will do nothing

In [32]:
"""list
tuple
dict
set"""

'list\ntuple\ndict\nset'

# self practice

In [1]:
l = [1,2,3,4,5, "sudh",45.67,True]

In [2]:
l[0]

1

In [3]:
len(l)

8

In [4]:
l[7]

True

In [5]:
l[-1]

True

In [6]:
l[0:5]

[1, 2, 3, 4, 5]

In [7]:
l[::-1]

[True, 45.67, 'sudh', 5, 4, 3, 2, 1]

In [8]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [9]:
l[0:100]

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [10]:
l[0:100:2]

[1, 3, 5, 45.67]

In [11]:
l[0:8:-1]

[]

In [12]:
l[:3]

[1, 2, 3]

In [13]:
l+"sudh"

TypeError: can only concatenate list (not "str") to list

In [14]:
str(l)+"sudh"

"[1, 2, 3, 4, 5, 'sudh', 45.67, True]sudh"

In [15]:
"l"+"sudh"

'lsudh'

In [16]:
l+["sudh"]

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'sudh']

In [17]:
l*2

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [18]:
50 in l

False

In [19]:
4 in l

True

In [20]:
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [21]:
l1 = [1,2,3,4,5,6,7,8,]

In [22]:
max(l1)

8

In [25]:
l2 = ["gourav", "kumar","ojha"] # it is giving maximum value on the basis of alphabetical order

In [26]:
max(l2)

'ojha'

In [27]:
min(l1)

1

In [28]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [29]:
l.append("kumar")

In [30]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [31]:
l.append([1,2,3,4])

In [32]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar', [1, 2, 3, 4]]

In [33]:
l.pop()

[1, 2, 3, 4]

In [34]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [35]:
l.pop(0)

1

In [36]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [37]:
l.pop(5)

45.67

In [38]:
l

[2, 3, 4, 5, 'sudh', True, 'kumar']

In [39]:
l = [1,2,3,4,5, "sudh",45.67,True]

In [45]:
l.reverse()    # reverse function parmanently reverse the data

In [41]:
l

[True, 45.67, 'sudh', 5, 4, 3, 2, 1]

In [42]:
l

[True, 45.67, 'sudh', 5, 4, 3, 2, 1]

In [43]:
l[::-1]

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [44]:
l

[True, 45.67, 'sudh', 5, 4, 3, 2, 1]

In [46]:
l.reverse()

In [47]:
l

[True, 45.67, 'sudh', 5, 4, 3, 2, 1]

In [48]:
l

[True, 45.67, 'sudh', 5, 4, 3, 2, 1]

In [49]:
l = [1,2,3,4,5,'sudh',45.67,True]

In [50]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [51]:
l[::-1]

[True, 45.67, 'sudh', 5, 4, 3, 2, 1]

In [52]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [53]:
l.append(1,2,3,4)

TypeError: list.append() takes exactly one argument (4 given)

In [54]:
l.append("kumar")

In [55]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [56]:
l.append({1,2,3,4})

In [57]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar', {1, 2, 3, 4}]

In [58]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [59]:
k= [2,4,5,6,30,42,50]

In [60]:
k.sort()

In [61]:
k

[2, 4, 5, 6, 30, 42, 50]

In [62]:
d  = [30,4,6,89,90,1,21,323]

In [63]:
d.sort()

In [64]:
d

[1, 4, 6, 21, 30, 89, 90, 323]

In [65]:
d.sort(reverse=True)

In [66]:
d

[323, 90, 89, 30, 21, 6, 4, 1]

In [67]:
a =[2,3,4]
b =[6,7,8]
c =[3,2,4]

In [69]:
l1 = [a,b,c]

In [70]:
l1

[[2, 3, 4], [6, 7, 8], [3, 2, 4]]

In [73]:
l1[2][1]

2

In [74]:
l1[2][0]

3

In [75]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar', {1, 2, 3, 4}]

In [76]:
l = [1,2,2,3,4,5,'sudh',45.67,True,'kumar']

In [77]:
l.count(2)

2

In [78]:
l.count(5)

1

In [79]:
l

[1, 2, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [80]:
l.append("ineuron")

In [81]:
l

[1, 2, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar', 'ineuron']

In [82]:
l.extend()

TypeError: list.extend() takes exactly one argument (0 given)

In [83]:
l.extend("ineuron")

In [84]:
l

[1,
 2,
 2,
 3,
 4,
 5,
 'sudh',
 45.67,
 True,
 'kumar',
 'ineuron',
 'i',
 'n',
 'e',
 'u',
 'r',
 'o',
 'n']

In [85]:
l.append([2,45,"sudh"])

In [86]:
l

[1,
 2,
 2,
 3,
 4,
 5,
 'sudh',
 45.67,
 True,
 'kumar',
 'ineuron',
 'i',
 'n',
 'e',
 'u',
 'r',
 'o',
 'n',
 [2, 45, 'sudh']]

In [87]:
l = [1,2,2,3,4,5,'sudh',45.67,True,'kumar']

In [88]:
l.append([2,45,"sudh"])

In [89]:
l

[1, 2, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar', [2, 45, 'sudh']]

In [90]:
l.extend("sudh")

In [91]:
l

[1,
 2,
 2,
 3,
 4,
 5,
 'sudh',
 45.67,
 True,
 'kumar',
 [2, 45, 'sudh'],
 's',
 'u',
 'd',
 'h']

In [92]:
j =[2,3,4,[5,6,7,8],'sudh']

In [93]:
j.extend('sudh')

In [94]:
j

[2, 3, 4, [5, 6, 7, 8], 'sudh', 's', 'u', 'd', 'h']

In [95]:
j.append(45)

In [96]:
j

[2, 3, 4, [5, 6, 7, 8], 'sudh', 's', 'u', 'd', 'h', 45]

In [97]:
j.extend(45)

TypeError: 'int' object is not iterable

In [98]:
j =[2,3,4,[5,6,7,8],'sudh']

In [100]:
j.append[(56,34,21)]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [101]:
j.append([56,34,21])

In [102]:
j

[2, 3, 4, [5, 6, 7, 8], 'sudh', [56, 34, 21]]

In [103]:
j.extend([56,34,21])

In [104]:
j

[2, 3, 4, [5, 6, 7, 8], 'sudh', [56, 34, 21], 56, 34, 21]

In [4]:
l = [1,2,3,4,5,6,[1,45,2,56],"sudh",True,1]

In [6]:
l.index(1)

0

In [7]:
l.index(2)

1

In [8]:
len(l)

10

In [9]:
l.index(6)

5

In [10]:
l.index([1,45,2,56])

6

In [11]:
l1=[1,2,3,4,2,5,6,7,3,8,9,1]

In [12]:
l1.index(1)

0

In [13]:
s = [1,2,3,4,5,[1,2,3,],"sudh",45.67,True]

In [14]:
s.insert(2,[1,2,4])

In [15]:
s

[1, 2, [1, 2, 4], 3, 4, 5, [1, 2, 3], 'sudh', 45.67, True]

In [16]:
s.insert(8,"kumar")

In [17]:
s

[1, 2, [1, 2, 4], 3, 4, 5, [1, 2, 3], 'sudh', 'kumar', 45.67, True]

In [18]:
s = [1,2,3,4,5,[1,2,3,],"sudh",45.67,True]

In [19]:
s.index(-1)

ValueError: -1 is not in list

In [20]:
s.index(True)

0

In [21]:
s.index("sudh")

6

In [22]:
s[0]

1

In [24]:
s[2]

3

In [25]:
s[8]

True

In [26]:
s.index(45.67)

7

In [27]:
s

[1, 2, 3, 4, 5, [1, 2, 3], 'sudh', 45.67, True]

In [28]:
s.remove(5)

In [29]:
s

[1, 2, 3, 4, [1, 2, 3], 'sudh', 45.67, True]

In [32]:
s.remove("True")

ValueError: list.remove(x): x not in list

In [31]:
s

[2, 3, 4, [1, 2, 3], 'sudh', 45.67, True]

In [33]:
s

[2, 3, 4, [1, 2, 3], 'sudh', 45.67, True]

In [34]:
s = [1,2,3,4,5,[1,2,3,],"sudh",45.67,True]

In [35]:
s.remove("sudh")

In [36]:
s

[1, 2, 3, 4, 5, [1, 2, 3], 45.67, True]

In [37]:
s.remove(True)

In [38]:
s

[2, 3, 4, 5, [1, 2, 3], 45.67, True]

In [39]:
s = [1,2,3,4,5,[1,2,3,],"sudh",45.67,True]

In [40]:
s[2]="gour"

In [41]:
s

[1, 2, 'gour', 4, 5, [1, 2, 3], 'sudh', 45.67, True]

In [42]:
s[6]="kumar"

In [43]:
s

[1, 2, 'gour', 4, 5, [1, 2, 3], 'kumar', 45.67, True]

In [44]:
s = "ineuron"

In [45]:
s[2]

'e'

In [46]:
s[2]= v

NameError: name 'v' is not defined

In [47]:
s[2] = "v"

TypeError: 'str' object does not support item assignment

In [48]:
# tuple

In [49]:
t = (4,5,6,7,"sudh",45.67,True)

In [50]:
type(t)

tuple

In [51]:
t(0)

TypeError: 'tuple' object is not callable

In [52]:
s

'ineuron'

In [53]:
s[3]

'u'

In [54]:
t(3)

TypeError: 'tuple' object is not callable

In [56]:
t[0]

4

In [57]:
t[3]

7

In [58]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [59]:
t[0:4]

(4, 5, 6, 7)

In [61]:
t[0:6:2]

(4, 6, 'sudh')

In [62]:
l = [1,2,3,456,77]

In [63]:
l[3]

456

In [64]:
l[3]=4

In [65]:
l

[1, 2, 3, 4, 77]

In [66]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [67]:
t[3]

7

In [68]:
t[3]=9

TypeError: 'tuple' object does not support item assignment

In [69]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [70]:
t1 = (3,4,5)

In [71]:
t+t1

(4, 5, 6, 7, 'sudh', 45.67, True, 3, 4, 5)

In [72]:
t.count(5)

1

In [73]:
t.count(3)

0

In [74]:
len(t)

7

In [75]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [76]:
t.index(0)

ValueError: tuple.index(x): x not in tuple

In [77]:
t.index(4)

0

In [78]:
t.index(6)

2

In [79]:
t.index(5)

1

In [80]:
t.index(45.67)

5

In [81]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [82]:
list(t)

[4, 5, 6, 7, 'sudh', 45.67, True]

In [83]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [84]:
t2 = list(t)

In [85]:
t2

[4, 5, 6, 7, 'sudh', 45.67, True]

In [86]:
tuple(t2)

(4, 5, 6, 7, 'sudh', 45.67, True)

In [87]:
t2

[4, 5, 6, 7, 'sudh', 45.67, True]

In [88]:
t3= tuple(t2)

In [89]:
t3

(4, 5, 6, 7, 'sudh', 45.67, True)

In [1]:
l= [1,2,3,4,5,"ojha","kumar",True]

In [2]:
l.remove(4)

In [3]:
l

[1, 2, 3, 5, 'ojha', 'kumar', True]

In [4]:
l.remove(True)

In [5]:
l

[2, 3, 5, 'ojha', 'kumar', True]

In [6]:
l

[2, 3, 5, 'ojha', 'kumar', True]

In [7]:
l.remove(True)

In [8]:
l

[2, 3, 5, 'ojha', 'kumar']

In [9]:
# dictionary

In [10]:
d = {}

In [11]:
type(d)

dict

In [12]:
d = {"key1":"value",234:"xyz","name":"sudh","no":78667698}

In [13]:
d["key1"]

'value'

In [18]:
d = {"key1":"value",234:"xyz","name":"sudh","no":78667698}

In [19]:
d["no"]

78667698

In [20]:
d[234]

'xyz'

In [21]:
d2 = {'name':"sudh",'tech':["python","ML","DL","NLP","CV","Big data","data analytics"]}

In [22]:
d2["name"]

'sudh'

In [23]:
d2

{'name': 'sudh',
 'tech': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

In [24]:
d2['tech']

['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']

In [25]:
"big data" in d2

False

In [27]:
"Big data" in d2["tech"]

True

In [28]:
'python' in d2["tech"]

True

In [29]:
d4 = {"name":"ineuron","contact_info":435345,"name":"sudh"}

In [30]:
d4

{'name': 'sudh', 'contact_info': 435345}

In [31]:
d4["k1"] = "xyz"

In [32]:
d4

{'name': 'sudh', 'contact_info': 435345, 'k1': 'xyz'}

In [33]:
d4

{'name': 'sudh', 'contact_info': 435345, 'k1': 'xyz'}

In [34]:
d4["k2"]= d2

In [35]:
d4

{'name': 'sudh',
 'contact_info': 435345,
 'k1': 'xyz',
 'k2': {'name': 'sudh',
  'tech': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}}

In [1]:
d = {"key1":"value",234:"xyz","name":"sudh","no":78667698}

In [2]:
d4 = {"name":"ineuron","contact_info":435345,"name":"sudh"}

In [3]:
d4["k2"]=d

In [4]:
d4

{'name': 'sudh',
 'contact_info': 435345,
 'k2': {'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 78667698}}

In [5]:
d4["k2"]["no"]

78667698

In [6]:
d5 = (@:"sudh")

SyntaxError: invalid syntax (2230749973.py, line 1)

In [10]:
d6 = {_ : "gour"}

TypeError: unhashable type: 'dict'

In [11]:
d3 = {_ : "ojha"}

TypeError: unhashable type: 'dict'

In [12]:
d7 = {(1,2,3,4):"Ojha"}

In [13]:
d7[(1,2,3,4)]

'Ojha'

In [15]:
d8 = {[1,2,3,4]:"ojha"} # list as a key is not allowed

TypeError: unhashable type: 'list'

In [17]:
d9 = {{3:4}:"ojha"}  # dict can also be not use as a key in dict

TypeError: unhashable type: 'dict'

In [18]:
d2 = {'key1':'value', 'key2': "ojha"}

In [20]:
d5 = {123:"india", _:"manish"}

In [22]:
d2+d5       # concatenate is not posssible in dict

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [23]:
d = {"key1":"value",234:"xyz","name":"sudh","no":78667698}

In [24]:
d.keys()

dict_keys(['key1', 234, 'name', 'no'])

In [25]:
d.values()

dict_values(['value', 'xyz', 'sudh', 78667698])

In [26]:
d.items()

dict_items([('key1', 'value'), (234, 'xyz'), ('name', 'sudh'), ('no', 78667698)])

In [27]:
s = {3,4,5,6,7,8}

In [28]:
type(s)

set

In [29]:
s1 = {8,7,6,5,4,3,3,2}

In [30]:
s1

{2, 3, 4, 5, 6, 7, 8}

In [32]:
s1[0]      # we cannot perform index operation in set like list, tuple , string

TypeError: 'set' object is not subscriptable

In [33]:
list(s1)

[2, 3, 4, 5, 6, 7, 8]

In [34]:
t = list(s1)

In [35]:
t

[2, 3, 4, 5, 6, 7, 8]

In [2]:
l= [2,3,4,5,6,7,7,7,7,7,7,7,7,8,8,9]

In [3]:
l.set()

AttributeError: 'list' object has no attribute 'set'

In [4]:
set(l)

{2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
l

[2, 3, 4, 5, 6, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 9]

In [6]:
t = set(l)

In [7]:
t

{2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
v = list(set(l))

In [9]:
v

[2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
s = {2,3,4,5,6,7,8}

In [11]:
s.add(9)

In [12]:
s

{2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
s.add([5,67,8])     # we cannot add list into set as set add data one by one

TypeError: unhashable type: 'list'

In [17]:
s = {[1,2,3,4,5],3,4,56,6,65}     #mutable data cannot be kept inside the set. here list is mutable

TypeError: unhashable type: 'list'

In [18]:
s ={(1,2,3,3,4),4,5,6,7,8}

In [19]:
s

{(1, 2, 3, 3, 4), 4, 5, 6, 7, 8}

In [20]:
s.remove(5)

In [21]:
s

{(1, 2, 3, 3, 4), 4, 6, 7, 8}

In [22]:
s.discard(4)

In [23]:
s

{(1, 2, 3, 3, 4), 6, 7, 8}

In [24]:
s.remove(9)

KeyError: 9

In [25]:
s.discard(9)

In [26]:
# the difference between remove and discard is that remove will so error if data is not present in the set but discard will not so error

In [27]:
s1 = {"sudh",122,3,4,45,6}