In [4]:
a = 10
if a == 10 # syntaxical error arises beacuse in python we have to end the condition statment with colon

SyntaxError: invalid syntax (177994562.py, line 2)

In [6]:
a = 10
if a ==10 :
    print("this is my first condition")

this is my first condition

In [8]:
a = 10
if a ==11:
    print("this is my first condition") # the result is blank because the condition is  faslse therefor it is not able to come inside the print block

In [10]:
a = 10
if a >5 : # error is comming brecause this time i have not mention the "body" means if the condition is true than than what it has to do

IndentationError: expected an indented block (3147078700.py, line 2)

In [13]:
a = 10
if a >5 :
    pass     # so if i dont want to asign any body to the condition than i can simply use pass keyword

In [14]:
a = 10
if a>8 :
    print("print this if condition is true")

print this if condition is true

In [15]:
a = 10
if a != 11:
    print("my condition is false")
    else :
        print("print this")

SyntaxError: invalid syntax (1614477992.py, line 4)

In [16]:
a = 10 
if a != 11 :
    print("my condition is false")
else :
    print("print this")

my condition is false

In [19]:
a = 10 
if a == 11 :
    print("my condition is false")
else :
    print("print this")      # here  "if" condition is false therefore it will excute else

print this

In [20]:
a = 10
if a ==12 :
    print("here we are trying to compare  10 with 12")
elif a ==11:
    print("we are trying to compare 10 with 11")
else :
    print("if all the bocks are fail then do this")

if all the bocks are fail then do this

In [22]:
a = 10
if a ==12 :
    print("here we are trying to compare  10 with 12")
elif a ==10:
    print("we are trying to compare 10 with 11")
else :
    print("if all the bocks are fail then do this")

we are trying to compare 10 with 11

In [24]:
price = 500
if price > 500 :
    print(" may b i wont be able to buy a jacket")
elif price < 500 :
    print("i will be able to buy a jacket")      # blank output because price> 500, price < 500 is false

In [25]:
price = 500
if price > 500 :
    print(" may b i wont be able to buy a jacket")
elif price <= 500 :
    print("i will be able to buy a jacket")

i will be able to buy a jacket

In [27]:
price = 500
if price > 500 :
    print(" may b i wont be able to buy a jacket")
elif price <= 500 :
    print("i will be able to buy a jacket")  
else price == 500 :
    print("i dont know")          # error will come because we cannot asign condition to "else" key word as it is having default condition

SyntaxError: invalid syntax (3748390733.py, line 6)

In [28]:
price = 500
if price > 500 :
    print(" may b i wont be able to buy a jacket")
elif price < 500 :
    print("i will be able to buy a jacket")
elif price == 500 :
    print("for sure i will be able to buy")
else :
    print("i dont know")

for sure i will be able to buy

In [33]:
price > 500 # so we can even check the condition separately

False

In [30]:
price > 500

False

In [32]:
price == 500

True

In [35]:
l = [1,2,3,4,5,6]
2 in l

True

In [37]:
if 2 in l :
    print("try to perform a task ")
else :
    print("do not perform this task")
    # "if" should be always in true or fasle value

try to perform a task

In [38]:
if 60 in l :
    print("try to perform a task ")
else :
    print("do not perform this task")

do not perform this task

In [39]:
60 in l

False

In [40]:
l

[1, 2, 3, 4, 5, 6]

In [42]:
if 1 in l :
    print("try to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul ")      # it will always validate one condition. if one condition is true then it will come out of the block and will not check the other condition

try to do a addition

In [43]:
if 10 in l :
    print("try to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul ")      # it will always validate one condition. if one condition is true then it will come out of the block and will not check the other condition

try to do sub

In [1]:
if 10 in l :
    print("try to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul ")
if 4 in l :
    print("this is new statement")    # so when ever "if" condition is mention it means new block is created or fresh block or starting point

NameError: name 'l' is not defined

In [2]:
a = 400

In [5]:
b = input() # what ever we will put inside the input function it will consider it as a string

53453

In [4]:
type(b)

str

In [6]:
a = 400

In [7]:
b = int(input())

345

In [9]:
type(b)  # here i have done type casting now the resul is integer

int

In [10]:
b = int(input())

asjhgj345

ValueError: invalid literal for int() with base 10: 'asjhgj345'

In [11]:
# in the above error is comming beacuse only numeric value can be type cast to integer not string can be onverted to interger

In [12]:
price = int(input())
if price <500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

600
i wont be able to buy anything with this price tag

In [13]:
price = int(input())
if price <500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

490
i will be able to buy something
i wont be able to buy anything

In [14]:
price = int(input())
if price <500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

300
i will be able to buy something
i will be able to buy a jacket

In [15]:
price = int(input())
if price <500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

089
i will be able to buy something
i will be able to buy a jacket

In [1]:
price = int(input())
if price <500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

99
i will be able to buy something
i will be able to buy a jacket

In [2]:
price = int(input())
if price <500 :
    print("i will be able to buy something")
    if price > 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

99
i will be able to buy something
i will be able to buy a shirt

In [5]:
marks = int(input())
if marks < 600 :
    print("i will not get admission in gre")
    if marks < 500 :
        print("i will get admission in tofel")
    elif marks < 400 :
        print("i will try something else")
    else:
        print("do what ever you want")
else :
    print("you will get gre")

599
i will not get admission in gre
do what ever you want

In [6]:
marks = int(input())
if marks < 600 :
    print("i will not get admission in gre")
    if marks < 500 :
        print("i will get admission in tofel")
    if marks < 400 :
        print("i will try something else")
    else:
        print("do what ever you want")
else :
    print("you will get gre")

599
i will not get admission in gre
do what ever you want

In [8]:
val = float(input("enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("entered value is positive number")
else :
    print("entered number is a negative number")

enter a floating point number-345
entered number is a negative number

In [1]:
val = float(input("enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("entered value is positive number")
else :
    print("entered number is a negative number")

enter a floating point number5
entered value is positive number

In [1]:
a = 10
if a < 10 or a ==10 :
    print("try to do something")

try to do something

In [2]:
# in above situation one condition is false and another condition is true there fore true so we have print statement

In [3]:
a = 10
if a < 10 or a >10 :
    print("try to do something")

In [4]:
# in the above case both the condition are false threrfore false so no output

In [5]:
 # AND condition

In [6]:
a =10
if a <10 and a <10 :
    print("try to do something")

In [7]:
# no output as both the condition are false

In [8]:
a =10
if a <10 and a ==10 :
    print("try to do something")

In [9]:
 # no output as first condition is false and second condition is true but in AND   false ,true is entire false

In [10]:
a = "sudh"
if a == "sudh" and a == "Sudh":
    print("this is sudh")

In [11]:
# no outcome as first condition is true but second condition is false because because in "sudh" s is capital andv python is case sensitive language therefor fasle true is entire false

In [12]:
a = "sudh"
if a == "sudh" or a == "Sudh":
    print("this is sudh")

this is sudh

In [13]:
# inthe above we are getting the outcome because the condition is OR and in or true false is true but in AND condition true false is false

In [14]:
a = 10
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c == 12 and d == 13 :
    print("lets do something")

In [15]:
 # in the above case value of a is false and b is true therefore false , now false with c(true) gives false, and in the last false with d(true) will give false therefor entire condition become false and no output

In [16]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13 :
    print("lets do something")

lets do something

In [17]:
# here a is false and b is true therefor true because in OR condition fasle true is true , now true with c(true) gives true and this with d(true) gives true so the entire condition is true

In [18]:
d = {'key1': "value" , 'key2': "sudh" , 'key3': "ineuron"}

In [19]:
if d['key1'] == "value" and  d['key2'] == "sudh" and d['key3'] == "ineuron" :
    print("all the values are verified")
    print(d.values())

all the values are verified
dict_values(['value', 'sudh', 'ineuron'])

In [20]:
if d['key1'] == "value" and  d['key2'] == "Sudh" and d['key3'] == "ineuron" :
    print("all the values are verified")
    print(d.values())

In [21]:
# no output as s in sudh is capital

In [22]:
if d['key1'] == "value" and  d['key2'] == "Sudh" and d['key3'] == "ineuron" :
    print("all the values are verified")
    print(d.values())
else :
    print("all the value are not verified")

all the value are not verified

In [28]:
# LOOP   there are varity of loop present in python and there are n no.of way we can use loop.what ever is the problem someway we will use loop.and we should also learn when will be loop used  and when not

In [24]:
l = [1,2,3,4,5,"sudh",234.45]

In [25]:
l[0]

1

In [26]:
l[2]

3

In [27]:
l[2:5]

[3, 4, 5]

In [29]:
 # suppose there is a problem that i want extract each element from list automatically and do the addition and final result in console

In [30]:
# for loop

In [31]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [32]:
for i in l :
    print(i)

1
2
3
4
5
sudh
234.45

In [33]:
for i in l :
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [35]:
for i in l :
    if type(i) == int:
        print(i+1)
    elif type(i) == str:
        print(i+str(1))

2
3
4
5
6
sudh1

In [36]:
for i in l :
    if type(i) == int  or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i+str(1))

2
3
4
5
6
sudh1
235.45

In [37]:
# if i want to creat list of only interger ?

In [38]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [39]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)

In [40]:
l1

[1, 2, 3, 4, 5]

In [41]:
# for loop to be continued in next class

# self practice

In [1]:
a = 10 
if a == 10:
    print("this is my first programing ")

this is my first programing

In [2]:
a = 10
if a == 11 :
    print("this is my first programing")

In [3]:
a = 10
if a > 5:
    print("print this block ")

print this block

In [4]:
a = 10
if a > 9:
    print ( "print this block")

print this block

In [5]:
a = 5 
if a == 5:
    pass

In [6]:
a = 5
if a ==6:
    pass

In [7]:
a = 10
if a == 11:
    print("my condition is false")
else :
    print ("print this")

print this

In [9]:
a = 10
if a == 12:
    print("here we are trying to compare 10 with 12")
elif a == 11:
    print("we are trying to compare 10 with 11")
else:
    print("if all the blocks are fail then do this")

if all the blocks are fail then do this

In [10]:
price = 500
if price > 500:
    print("may be i won't be able to buy a jacket")
elif price <= 500 :
    print ( "i will be able to buy a jacket")
else price ==  500:
    print("i dont know")

SyntaxError: invalid syntax (4132254235.py, line 6)

In [11]:
price = 500
if price > 500:
    print("may be i won't be able to buy a jacket")
elif price <= 500 :
    print ( "i will be able to buy a jacket")
else :
    print("i dont know")

i will be able to buy a jacket

In [13]:
price = 500
if price > 500:
    print("may be i won't be able to buy a jacket")
elif price < 500 :
    print ( "i will be able to buy a jacket")
elif price == 500:
    print("for sure i will be able to buy")
else :
    print("i dont know")

for sure i will be able to buy

In [14]:
price > 500

False

In [15]:
price == 500

True

In [16]:
l = [1,2,3,4,5,6]
2 in l

True

In [17]:
if 2 in l:
    print("try to perform the a task")
else:
    print("do not perform this task")

try to perform the a task

In [18]:
if 7 in l:
    print("try to peform a task")
else:
    print("do not perform this task")

do not perform this task

In [19]:
l = [1,2,3,4,5,6]
2 in l

True

In [20]:
if 1 in l:
    print("try to the addition")
elif 2 in l:
    print("try to do sub")
elif 3 in l:
    print("try to do mul")

try to the addition

In [22]:
if 10 in l:
    print("try to the addition")
elif 2 in l:
    print("try to do sub")
elif 3 in l:
    print("try to do mul")

try to do sub

In [24]:
if 10 in l:
    print("try to the addition")
elif 2 in l:
    print("try to do sub")
elif 3 in l:
    print("try to do mul")
if 4 in l:
    print("this is new statement")     # here if is a new block or fresh block

try to do sub
this is new statement

In [25]:
a = 400

In [26]:
b = input()    # data inside input function will be considered as string

345

In [27]:
type(b)

str

In [28]:
b = int(input())

399

In [29]:
type(b)

int

In [30]:
b = int(input())

jinnk456

ValueError: invalid literal for int() with base 10: 'jinnk456'

In [31]:
# in the above error is coming because only numeric value can be type caste into integer not string can be cast into integer

In [32]:
price  = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300:
        print("i will be able to buy a shirt")
    else:
        print("i won't be able to buy any thing")
else :
    print("i won't be able to buy anything with this price tag")

600
i won't be able to buy anything with this price tag

In [33]:
price  = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300:
        print("i will be able to buy a shirt")
    else:
        print("i won't be able to buy any thing")
else :
    print("i won't be able to buy anything with this price tag")

490
i will be able to buy something
i won't be able to buy any thing

In [34]:
price  = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300:
        print("i will be able to buy a shirt")
    else:
        print("i won't be able to buy any thing")
else :
    print("i won't be able to buy anything with this price tag")

300
i will be able to buy something
i will be able to buy a jacket

In [35]:
price  = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300:
        print("i will be able to buy a shirt")
    else:
        print("i won't be able to buy any thing")
else :
    print("i won't be able to buy anything with this price tag")

89
i will be able to buy something
i will be able to buy a jacket

In [36]:
price  = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300:
        print("i will be able to buy a shirt")
    else:
        print("i won't be able to buy any thing")
else :
    print("i won't be able to buy anything with this price tag")

200
i will be able to buy something
i will be able to buy a jacket

In [37]:
price  = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price <=300:
        print("i will be able to buy a shirt")
    else:
        print("i won't be able to buy any thing")
else :
    print("i won't be able to buy anything with this price tag")

300
i will be able to buy something
i will be able to buy a jacket

In [38]:
price  = int(input())
if price <= 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300:
        print("i will be able to buy a shirt")
    else:
        print("i won't be able to buy any thing")
else :
    print("i won't be able to buy anything with this price tag")

500
i will be able to buy something
i won't be able to buy any thing

In [39]:
price  = int(input())
if price <= 500 :
    print("i will be able to buy something")
    if price > 400 :
        print("i will be able to buy a jacket")
    elif price < 300:
        print("i will be able to buy a shirt")
    else:
        print("i won't be able to buy any thing")
else :
    print("i won't be able to buy anything with this price tag")

99
i will be able to buy something
i will be able to buy a shirt

In [40]:
price  = int(input())
if price <= 500 :
    print("i will be able to buy something")
    if price > 400 :
        print("i will be able to buy a jacket")
    elif price > 300:
        print("i will be able to buy a shirt")
    else:
        print("i won't be able to buy any thing")
else :
    print("i won't be able to buy anything with this price tag")

100
i will be able to buy something
i won't be able to buy any thing

In [1]:
price  = int(input())
if price <= 500 :
    print("i will be able to buy something")
    if price > 400 :
        print("i will be able to buy a jacket")
    elif price > 300:
        print("i will be able to buy a shirt")
    else:
        print("i won't be able to buy any thing")
else :
    print("i won't be able to buy anything with this price tag")

550
i won't be able to buy anything with this price tag

In [ ]:
marks = int(input())
if marks < 600:
    print("i will not get admission in gre")
    if marks < 500:
        print("i will get admission in tofel")
    elif marks < 400:
        print("i will try something else")
    else:
        print("do what ever you want")
else:
    print("you will get gre")

In [1]:
kernel restarted

SyntaxError: invalid syntax (972909267.py, line 1)

In [2]:
marks = int(input())
if marks < 600:
    print("i will not get admission in gre")
    if marks < 500:
        print("i will get admission in tofel")
    elif marks < 400:
        print("i will try something else")
    else:
        print("do what ever you want")
else:
    print("you will get gre")

599
i will not get admission in gre
do what ever you want

In [3]:
marks = int(input())
if marks < 600:
    print("i will not get admission in gre")
    if marks < 500:
        print("i will get admission in tofel")
    elif marks < 400:
        print("i will try something else")
    else:
        print("do what ever you want")
else:
    print("you will get gre")

604
you will get gre

In [4]:
marks = int(input())
if marks < 600:
    print("i will not get admission in gre")
    if marks > 500:
        print("i will get admission in tofel")
    elif marks < 400:
        print("i will try something else")
    else:
        print("do what ever you want")
else:
    print("you will get gre")

200
i will not get admission in gre
i will try something else

In [36]:
price  = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300:
        print("i will be able to buy a shirt")
    else:
        print("i won't be able to buy any thing")
else :
    print("i won't be able to buy anything with this price tag")

200
i will be able to buy something
i will be able to buy a jacket

In [5]:
price  = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    if price < 300:
        print("i will be able to buy a shirt")
    else:
        print("i won't be able to buy any thing")
else :
    print("i won't be able to buy anything with this price tag")

100
i will be able to buy something
i will be able to buy a jacket
i will be able to buy a shirt

In [6]:
price  = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    if price < 300:
        print("i will be able to buy a shirt")
    else:
        print("i won't be able to buy any thing")
else :
    print("i won't be able to buy anything with this price tag")

504
i won't be able to buy anything with this price tag

In [7]:
marks = int(input())
if marks < 600:
    print("i will not get admission in gre")
    if marks > 500:
        print("i will get admission in tofel")
    if marks < 400:
        print("i will try something else")
    else:
        print("do what ever you want")
else:
    print("you will get gre")

300
i will not get admission in gre
i will try something else

In [8]:
val = float(input())
if val >=0:
    if val == 0:
        print("entered value is zero")
    else:
        print("entered value is positive number")
else:
    print("entered number is a negative number")

345
entered value is positive number

In [9]:
val = float(input())
if val >=0:
    if val == 0:
        print("entered value is zero")
    else:
        print("entered value is positive number")
else:
    print("entered number is a negative number")

5
entered value is positive number

In [10]:
val = float(input())
if val >=0:
    if val == 0:
        print("entered value is zero")
    else:
        print("entered value is positive number")
else:
    print("entered number is a negative number")

5.0
entered value is positive number

In [11]:
val = float(input())
if val >=0:
    if val == 0:
        print("entered value is zero")
    else:
        print("entered value is positive number")
else:
    print("entered number is a negative number")

145
entered value is positive number

In [12]:
val = float(input())
if val >=0:
    if val == 0:
        print("entered value is zero")
    else:
        print("entered value is positive number")
else:
    print("entered number is a negative number")

0
entered value is zero

In [13]:
val = float(input())
if val >=0:
    if val == 0:
        print("entered value is zero")
    else:
        print("entered value is positive number")
else:
    print("entered number is a negative number")

-9
entered number is a negative number

In [14]:
a = 10
if a < 10 or a == 10:
    print("try to do something")

try to do something

In [15]:
a = 10
if a < 10 or a > 10:
    print("try to do something")

In [16]:
a = 10
if a < 10 and a ==10:
    print("try to do something")

In [17]:
a = 10
if a <= 10 and a ==10:
    print("try to do something")

try to do something

In [18]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c == 12 and d == 13:
    print("try to do something")

In [19]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13:
    print("try to do something")

try to do something

In [20]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 and b == 11 or c == 12 and d == 13:
    print("try to do something")

try to do something

In [21]:
d  = {"key1":"value","key2":"ojha","key3":"ineuron"}

In [22]:
if d["key1"]=="value" and d["key2"]=="ojha" and d["key3"]=="ineuron":
    print("all the value are verified")

all the value are verified

In [23]:
if d["key1"]=="value" and d["key2"]=="ojha" and d["key3"]=="ineuron":
    print("all the value are verified")
    print(d.values())

all the value are verified
dict_values(['value', 'ojha', 'ineuron'])

In [24]:
if d["key1"]=="value" and d["key2"]=="Ojha" and d["key3"]=="ineuron":
    print("all the value are verified")
    print(d.values())

In [26]:
# in the above  O is capital in ojha therefore false

In [27]:
if d["key1"]=="value" and d["key2"]=="Ojha" and d["key3"]=="ineuron":
    print("all the value are verified")
    print(d.values())
else:
    print("all the value are not verified")

all the value are not verified

In [1]:
l = [1,2,3,4,5,"sudh",234.45]

In [2]:
for i in l:
    print(i)

1
2
3
4
5
sudh
234.45

In [3]:
for i in l:
    print(i + 1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [4]:
for i in l:
    if type(i)==  int:
        print(i+1)
    else:
        print(i + str(1))

2
3
4
5
6
sudh1

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [6]:
for i in l:
    if type(i)== int:
        print(i + 1)
    elif type(i) == str:
        print(i +str(1))

2
3
4
5
6
sudh1

In [7]:
for i in l:
    if type(i)== int or type(i)== float:
        print(i + 1)
    elif type(i)== str:
        print(i + str(1))

2
3
4
5
6
sudh1
235.45

In [8]:
for i in l:
    if type(i) == int or type(i)== float or type(i)== str:
        print(i +1)
        print(i +str(1))

2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
# if want to creat a list of only integer

In [10]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [13]:
l1 = []
for i in l:
    if type(i)== int:
        l1.append(i)

In [14]:
l1

[1, 2, 3, 4, 5]

In [15]:
l = [1,2,34,56,7,"sudh","ojha","kumar"]

In [16]:
l2 = []
for i in l:
    if type(i)==str:
        l2.append(i)

In [17]:
l2

['sudh', 'ojha', 'kumar']