In [1]:
# for loop

In [3]:
for i in "mysirg":
    print(i)  # print always changes the line

m
y
s
i
r
g

In [4]:
# write a program to count "a" in a given strng,using for loop

In [12]:
b=input("enter a string ")
for i in b:
    print(i.count(a))

enter a string mahesh
0
0
0
0
0
0

In [15]:
x=input("enter a string ")
for i in x:
    if i=="a":
        i=i+1
        print(i.count(a))

enter a string virat

TypeError: can only concatenate str (not "int") to str

In [16]:
# write a program to count "a" in a given strng,using for loop

In [20]:
x=input("enter a string ")
count=0
for i in x:
    if i=="a":
        count+=1
    print("count=",count)  #indention is not correct

enter a string virat
count= 0
count= 0
count= 0
count= 1
count= 1

In [19]:
x=input("enter a string ")
count=0
for i in x:
    if i=="a":
        count+=1
print("count=",count)

enter a string virat
count= 1

In [21]:
x=input("enter a string ")
count=0
for i in x:
    if i=="a":
        count+=1
print("count=",count)

enter a string gourav ojha
count= 2

In [22]:
# iterable object are the one which allowed acesses of each element of it.

In [23]:
x=125
type(x)

int

In [24]:
for e in x:
    print(e)

TypeError: 'int' object is not iterable

In [25]:
# so int,float,bool,complex are not iterable

In [28]:
str(x)  # str is iterable

'125'

In [27]:
for i in str(x):
    print(i)

1
2
5

In [29]:
for i in str(x):
    print(int(i))

1
2
5

In [31]:
x=input("enter a string ")
for i in x:
    if i=="r":
        break
    print(i)
else:
    print("all the characters are processed")

enter a string gourav
g
o
u

In [32]:
x=input("enter a string ")
for i in x:
    if i=="r":
        break
    print(i)
else:
    print("all the characters are processed")

enter a string apple
a
p
p
l
e
all the characters are processed

In [34]:
x=input("enter a string ")
for i in x:
    if i=="r":
        break
    print(i,end='')
else:
    print(" all the characters are processed")

enter a string manish
manish all the characters are processed

In [1]:
# range

In [2]:
r1=range(2,10,2)

In [3]:
for i in r1:
    print(i,end=' ')

2 4 6 8

In [4]:
range(-10)

range(0, -10)

In [6]:
len(range(0,-10))

0

In [8]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
len(range(10))

10

In [11]:
range(-10)

range(0, -10)

In [13]:
for i in range(-10): # output is empty because start value is 0 and end value 
                     # is -10 but direction is 1 means positive by default
                     # therefore blank output
    print(i)

In [14]:
range(0,-10,-1)

range(0, -10, -1)

In [15]:
list(range(0,-10,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [17]:
for i in range(0,-10,-1):
    print(i,end=" ")

0 -1 -2 -3 -4 -5 -6 -7 -8 -9

In [18]:
len(range(0,-10,-1))

10

In [20]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [21]:
# write a program to print first n natural numbers

In [23]:
for i in range(int(input("enter a number"))):
    print(i+1,end=" ") # why i am doing i+1 other wise it will print 0 at first
                       # and it will not be a natural then

enter a number10
1 2 3 4 5 6 7 8 9 10

In [25]:
for i in range(1,int(input("enter a number"))+1):
    print(i,end=" ")

enter a number10
1 2 3 4 5 6 7 8 9 10

In [26]:
# write a program to print squares of first n natural numbers

In [31]:
for i in range(int(input("enter the number "))):
    print((i+1)**2,end=" ")

enter the number 10
1 4 9 16 25 36 49 64 81 100

In [1]:
# write a program to print first n even natural numbers in reverse order

In [3]:
for i in range(2*int(input("enter a number")),0,-2):
    print(i,end=" ")

enter a number5
10 8 6 4 2