In [1]:
# list

In [2]:
l1=[10,20,30]

In [3]:
type(l1)

list

In [9]:
l2=[] # empty list

In [5]:
type(l2)

list

In [7]:
l3=["A",12,True,3+4j,4.5,10] # list can contains heterogenious data

In [8]:
type(l3)

list

In [10]:
print(l1)

[10, 20, 30]

In [11]:
print(l2)

[]

In [12]:
print(l3)

['A', 12, True, (3+4j), 4.5, 10]

In [13]:
l1[0]

10

In [14]:
print(l1[0])

10

In [15]:
print(l1[1])

20

In [17]:
print(l1[3])  # since 3 index is not there

IndexError: list index out of range

In [18]:
print(l2[0])

IndexError: list index out of range

In [19]:
l3

['A', 12, True, (3+4j), 4.5, 10]

In [20]:
type(l3[0])

str

In [21]:
type(l3[3])

complex

In [24]:
print(l3[-1])  # in c,c++ there is no negative indexing concept is there

10

In [26]:
l1

[10, 20, 30]

In [28]:
for x in l1: # accessing list elements via for loop
    print(x,end=" ")

10 20 30

In [29]:
# now accessing list element by while loop

In [31]:
i=0
while i<3:
    print(l1[i],end=" ")
    i+=1

10 20 30

In [32]:
# now i want to accesses by negative indexing

In [34]:
i=2
while i>=0:
    print(l1[i],end=" ")
    i-=1
    # we cannot get this output using for loop

30 20 10

In [35]:
l=[10,20,30,40]

In [36]:
del l[2]

In [37]:
l

[10, 20, 40]

In [38]:
l1

[10, 20, 30]

In [39]:
l1[0]=40

In [40]:
l1

[40, 20, 30]

In [42]:
l1[3]=50 # error as 3 is not valid index

IndexError: list assignment index out of range

In [44]:
l1=[40,20,30,10,50,60]
for x in l1:
    if x==20:
        del x
print(l1)      # 20 has not been deleted

[40, 20, 30, 10, 50, 60]

In [47]:
l1=[40,20,30,10,50,60]
for x in l1:
    if x==20:
        del l1[1]
print(l1)      # this time 20 is deleted
               # but logically this code is not that appropriate

[40, 30, 10, 50, 60]

In [49]:
l1=[40,20,30,10,50,60]
for x in l1:
    if x==20:
        del l1[4]
print(l1) # this time 50 is deleted as it is at index 4

[40, 20, 30, 10, 60]

In [50]:
l1

[40, 20, 30, 10, 60]

In [51]:
l1=[40,20,30,10,50,60]
len(l1)

6

In [52]:
l1=[40,20,30,10,50,60]
length=len(l1)
print(length)

6

In [53]:
# len(),min(),max(),sum(),sorted() this method(function) will work on any 
# iterable like print(),type(),etc  which are present in builtin module 
# and we can use this function without importing them

In [54]:
l1

[40, 20, 30, 10, 50, 60]

In [55]:
min(l1)

10

In [56]:
max(l1)

60

In [57]:
sum(l1)

210

In [58]:
l3

['A', 12, True, (3+4j), 4.5, 10]

In [59]:
min(l3)

TypeError: '<' not supported between instances of 'int' and 'str'

In [60]:
l1

[40, 20, 30, 10, 50, 60]

In [61]:
sorted(l1)

[10, 20, 30, 40, 50, 60]

In [62]:
l1

[40, 20, 30, 10, 50, 60]

In [63]:
# now i want permanent list of sorted

In [64]:
l1=sorted(l1)

In [65]:
l1

[10, 20, 30, 40, 50, 60]

In [66]:
sorted(l1,reverse=True)

[60, 50, 40, 30, 20, 10]

In [70]:
# list method

In [71]:
l2=list()

In [68]:
l2

[]

In [69]:
type(l2)

list

In [73]:
l2=list(10)  # argument should be iterable and int is not iterable

TypeError: 'int' object is not iterable

In [75]:
l2=list(10,20,30)  # at most it can take one arguments

TypeError: list expected at most 1 argument, got 3

In [76]:
l2=list("mysirg")

In [77]:
l2

['m', 'y', 's', 'i', 'r', 'g']

In [78]:
l2=list(range(2,10,2))

In [79]:
l2

[2, 4, 6, 8]

In [80]:
l1=list(range(5))

In [81]:
l1

[0, 1, 2, 3, 4]

In [82]:
l1=[1,2,3]
l2=[2,3,1]
l3=[1,2,3,4,5]
l4=[1,2,3]

In [84]:
l1==l2  # sequence is different

False

In [85]:
l1==l4

True

In [86]:
l1==l3

False

In [89]:
l1>l2  # it will compare  the element index wise

False

In [90]:
l1=[[1,3,5],[2,1,8],[5,4,4]]
for row in l1:
    print(row,end=" ")

[1, 3, 5] [2, 1, 8] [5, 4, 4]

In [91]:
for row in l1:
    for e in row:
        print(e,end=" ")
        print()

1
3
5
2
1
8
5
4
4

In [92]:
for row in l1:
    for e in row:
        print(e,end=" ")
    print()

1 3 5
2 1 8
5 4 4

In [1]:
l2=[2,4,6,8]

In [2]:
l2.remove(6)

In [3]:
l2

[2, 4, 8]

In [4]:
l2=[10,20,4,5,20,3,20,5]

In [7]:
l2.remove(20)  # so if same value is there mutipile time then the one appearing
               # first will remove

In [6]:
l2

[10, 4, 5, 20, 3, 20, 5]

In [8]:
l2.remove(100)

ValueError: list.remove(x): x not in list

In [9]:
# del function deletes reference not the object

In [10]:
l2

[10, 4, 5, 3, 20, 5]

In [12]:
l2.pop()  # so pop funct deletes as well as returns the value but remove does
          # not do that

20

In [13]:
l2

[10, 4, 5, 3]

In [14]:
l2.reverse()

In [15]:
l2

[3, 5, 4, 10]

In [16]:
l2.sort()

In [17]:
l2

[3, 4, 5, 10]

In [18]:
l2.sort(reverse=True)

In [19]:
l2

[10, 5, 4, 3]

In [20]:
l2.index(10)

0

In [21]:
l2.index(4)

2

In [22]:
l2.index(8)

ValueError: 8 is not in list

In [23]:
l2=[10,20,4,5,20,3,20,5]

In [24]:
l2.count(20)

3

In [25]:
l2.count(5)

2

In [26]:
l2.count(8)

0

In [27]:
# list comprehension

In [28]:
#[expression for variable in iterable]

In [29]:
[ x*3  for x in range(5)]

[0, 3, 6, 9, 12]

In [30]:
[ x*2  for x in range(5)]

[0, 2, 4, 6, 8]

In [31]:
[ x**2 for x in range(5)]

[0, 1, 4, 9, 16]

In [33]:
l4=[ x for x in input("enter your name ")]

enter your name gourav

In [34]:
l4

['g', 'o', 'u', 'r', 'a', 'v']

In [35]:
# if you want list from user

In [36]:
print("enter a list")
l4=list (input())
print(l4)

enter a list
[10,20,50,30]
['[', '1', '0', ',', '2', '0', ',', '5', '0', ',', '3', '0', ']']

In [37]:
# so the problem over above result is that input funct has considered each
# element as string and has return such value.

In [38]:
# so how to do  it

In [41]:
print("how many number u want to enter")
n= int(input())
print("enter some number")
l4=[]
i=0
while i<n:
    l4.append(int(input()))
    i+=1
print(l4)  # but this method is not that cool since lines of code is more
           # for this simple task

how many number u want to enter
5
enter some number
20
30
40
50
60
[20, 30, 40, 50, 60]

In [42]:
print("enter some number")
l4=eval(input())  # eval funct is capbale of recognising the kind of data and 
                  # the same kind of value but the problem is that u cannot 
                  
print(l4)

enter some number
[20,30,40,50,60]
[20, 30, 40, 50, 60]

In [43]:
 # eval funct is capbale of recognising the kind of data and returns the same 
#  the same value but the problem is that u cannot expect the user to put data
# in the list means square bracket.
# so this is  also not the best way to take list input from user

In [44]:
# for that we need to learn strings