In [3]:
l =[1,2,3,4,"sudh" ,"kumar", 45.56]

In [4]:
for i in l :
    print(i)

1
2
3
4
sudh
kumar
45.56

In [5]:
for i in l :

IndentationError: expected an indented block (3640463963.py, line 1)

In [6]:
#in the above error is coming because we have a condition for loop but we have not asign any action to the loop that after extracting each element from list what to do

In [7]:
for i in l :
    pass

In [8]:
s = "sudh"
for i in s:
    print(i)

s
u
d
h

In [9]:
for i in l:
    print(i)
else:
    print("if for loop is going to complete itself then it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself then it will execute else

In [11]:
for i in l:
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for loop is going to complete itself")

1
2
3

In [2]:
s = "sudhanshu"
for i in s :
    if i == 'n':
        break
    print(i)
else :
    print("print string" , s)

s
u
d
h
a

In [3]:
 # in the above case else will not print if loop will break

In [6]:
s = "sudhanshu"
for i in s :
    if i == 'z':
        break
    print(i)
else :
    print("print string" , s )

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [7]:
t = (4,5,6,7,8,6,"sudh")
for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [8]:
b = {4,5,6,7,7,7,7,7,7,8,"sudh"}

In [9]:
type(b)

set

In [10]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [11]:
for i in b :
    print(i)

4
5
6
7
8
sudh

In [12]:
d = {'key1' : "sudh" , 'contact' : "sudhanshu@ineuron.ai" , 'position': "xyz"}

In [13]:
for i in d :
    print(i)

key1
contact
position

In [14]:
d['key1']

'sudh'

In [15]:
# in the above for loop only key is extracting

In [16]:
# now suppose iwant to extract the value

In [18]:
for i in d :
    print(d[i])

sudh
sudhanshu@ineuron.ai
xyz

In [20]:
 # if i want both key as well as value then

In [21]:
for i in d :
    print(i,d[i])

key1 sudh
contact sudhanshu@ineuron.ai
position xyz

In [22]:
for i in d :
    print(i,":" , d[i])

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [23]:
range(9)  # it is a inbuild function inside core python

range(0, 9)

In [24]:
 # it is going to generate data from 0 to 9 but excluding 9

In [27]:
list(range(9))  # here lower bound is 0 by diffult if it is not mention it is going to start from 0 and upper bound will be excluded

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [28]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
list(range(0,9,2))   # here jump size is 2

[0, 2, 4, 6, 8]

In [32]:
list(range(0,9,-1)) # output is blank beacuse jump size negative and the motion is in positive same as slicing operation

[]

In [35]:
list(range(9,0,-1))  # upper bound will be excluded

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [36]:
n = 4
for i in range(4) :
    for j in range(0 , i+1):
        print("sudh" , end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [40]:
n = 5
for i in range(5):
    for k in range(0,i+1):
        print("sudh", end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

sudh sudh sudh sudh sudh

In [43]:
n = 6
for i in range(6):
    for j in range(0 ,i+2):
        print("gourav", end=" ")
    print("\n")

gourav gourav

gourav gourav gourav

gourav gourav gourav gourav

gourav gourav gourav gourav gourav

gourav gourav gourav gourav gourav gourav

gourav gourav gourav gourav gourav gourav gourav

In [46]:
n = 6
for c in range(6):
    for d in range(0 ,i+2):
        print("gourav", end=" ")
    print("\n")

gourav gourav gourav gourav gourav gourav gourav

gourav gourav gourav gourav gourav gourav gourav

gourav gourav gourav gourav gourav gourav gourav

gourav gourav gourav gourav gourav gourav gourav

gourav gourav gourav gourav gourav gourav gourav

gourav gourav gourav gourav gourav gourav gourav

In [47]:
n = 6
for i in range(6):
    for d in range(0 ,i+2):
        print("gourav", end=" ")
    print("\n")

gourav gourav

gourav gourav gourav

gourav gourav gourav gourav

gourav gourav gourav gourav gourav

gourav gourav gourav gourav gourav gourav

gourav gourav gourav gourav gourav gourav gourav

In [48]:
n = 3
for i in range(3):
    for j in range(i,n-1):
        print(" " * len("sudh"),end =" ")
    for j in range(i+1):
        print("sudh",end =" ")
    for j in range(i):
        print("sudh",end =" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [49]:
t = (3,23,45,67,2,4,5,6)

In [50]:
 # if i wnt extract data from tuple index wise along with the value

In [51]:
len(t)

8

In [52]:
range(len(t))

range(0, 8)

In [53]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [55]:
for i in range(len(t)):
    print(i)             # it is showing index of elements

0
1
2
3
4
5
6
7

In [56]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [1]:
s = "ineuron"

In [2]:
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [4]:
# in for loop i means iterater

In [5]:
for i in range(len(s)):
    print(i,i[s])

TypeError: 'int' object is not subscriptable

In [6]:
s

'ineuron'

In [8]:
range(len(s))

range(0, 7)

In [9]:
list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6]

In [10]:
# now i am expecting the data in backward direction

In [11]:
list(range(len(s) , 0 , -1))

[7, 6, 5, 4, 3, 2, 1]

In [12]:
# above zero has been excluded because of upperbound. now i want zero in data output

In [13]:
list(range(len(s) , -1 , -1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [14]:
# as  in ineuron index is from 0 to 6, 7 is not there. therefore we have to remove 7

In [15]:
list(range(len(s),-1 ,-1, -1))

TypeError: range expected at most 3 arguments, got 4

In [16]:
list(range(len(s)-1 ,-1, -1))

[6, 5, 4, 3, 2, 1, 0]

In [17]:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [18]:
d = {'key1' : "sudh" , 'contact' : "sudhanshu@ineuron.ai" , 'position': "xyz"}

In [19]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [20]:
# if i want the data in tuple form from dict

In [22]:
d.items()

dict_items([('key1', 'sudh'), ('contact', 'sudhanshu@ineuron.ai'), ('position', 'xyz')])

In [24]:
for i in d.items():
    print(i)

('key1', 'sudh')
('contact', 'sudhanshu@ineuron.ai')
('position', 'xyz')

In [25]:
for i in d.items():
    print(i , type(i))

('key1', 'sudh') <class 'tuple'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'>
('position', 'xyz') <class 'tuple'>

In [26]:
# now suppose i want to know the type of value

In [28]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [29]:
# in the above we can see that value string showing.key is present at 0 index and value at 1

In [34]:
l =["sudh", "kumar" , 36959576 , "sudhnashu@ineuron.ai" , 545, 4478786698989]

In [35]:
l1=[]
for i in l:
    if type(i) == int:
        l1.append(i)

In [36]:
l1

[36959576, 545, 4478786698989]

In [37]:
l1=[]
for i in l:
    if type(i) == str:
        l1.append(i)

In [38]:
l1

['sudh', 'kumar', 'sudhnashu@ineuron.ai']

In [39]:
# in the above append function can be used to create separate list of anything like string ,int

In [40]:
d = {1:336567 , "name":"sudh", "email_id" : "sudhanshu@ineuron.ai" , 234 :"hfjhfuhy" , 43 : "fhlwi",234: "6757"}

In [41]:
for i in d:
    if type(i)== int:
        print(i," ",d[i])

1   336567
234   6757
43   fhlwi

In [2]:
s = "aaaabbccd"

In [3]:
set(s)

{'a', 'b', 'c', 'd'}

In [4]:
for i in set(s):
    print(i,":",s.count(i))

d : 1
a : 4
b : 2
c : 2

In [1]:
i = 34534654648435

In [4]:
for j in i:
    print(j)

TypeError: 'int' object is not iterable

In [5]:
i = "34534654648435"

In [6]:
for i in i:
    print(i)

3
4
5
3
4
6
5
4
6
4
8
4
3
5

In [7]:
i = 34534654648435

In [9]:
str(i)

'34534654648435'

In [11]:
for i in str(i):
    print(i, type(i))

5 <class 'str'>

In [12]:
i = 34534654648435
for j in str(i):
    print(j, type(j))

3 <class 'str'>
4 <class 'str'>
5 <class 'str'>
3 <class 'str'>
4 <class 'str'>
6 <class 'str'>
5 <class 'str'>
4 <class 'str'>
6 <class 'str'>
4 <class 'str'>
8 <class 'str'>
4 <class 'str'>
3 <class 'str'>
5 <class 'str'>

In [14]:
i = 34534654648435
for j in str(i):
    print(int(j), type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
8 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [15]:
# so int objects are not iterable

In [16]:
t = ("sudh" , "kumar", [1,2,3,4,5] , (3,4,5,6), {"key":"sudh", "key2" : "kumar"})

In [17]:
t[2]

[1, 2, 3, 4, 5]

In [18]:
t[2][2]

3

In [19]:
# problem statement is that i want to extract 3 where ever it is in tuple

In [20]:
for i in t:
    if i == 3 :
        print(i)

In [21]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)

3
3

In [28]:
t = ("sudh" , "kumar", [1,2,3,4,5] , (3,4,5,6), {3:"sudh", "key2" : "kumar"})

In [24]:
for i in t:
    if type(i)== list or type(i)== tuple or type(i)== dict:
        for j in i:
            if j== 3:
                print(j)

3
3
3

In [29]:
t = ("sudh" , "kumar", [1,2,3,4,5] , (3,4,5,6), {3:3, "key2" : "kumar"})

In [31]:
for i in t:
    if type(i)==list or type(i)== tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i)== dict:
        print(i)

3
3
{3: 3, 'key2': 'kumar'}

In [33]:
for i in t:
    if type(i)==list or type(i)== tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i)== dict:
        for k,v in i.items():
            if k ==3 or k == 3:
                print(k)
                print(v)

3
3
3
3

In [34]:
# in the above problem statement was to get all the 3 specially the one inside the dict both key nand value

In [35]:
d = {4:5, "key1":"sudh", "key2":"kumar"}

In [37]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [38]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [39]:
# d.items is going return list of tuple , means if we have to convert dict in tuple we can use function item

In [1]:
# practice of above for loop

In [2]:
l = [1,3,5,6,7,8,"gour","kumar",45.56]

In [3]:
for i in l:
    print(i)

1
3
5
6
7
8
gour
kumar
45.56

In [4]:
for i in l:
    pass

In [5]:
g = "gourav"
for i in g:
    print(i)

g
o
u
r
a
v

In [6]:
l

[1, 3, 5, 6, 7, 8, 'gour', 'kumar', 45.56]

In [7]:
for i in l:
    print(i)
else:
    print("else will be printed this time as loop is going is going to complete itself")

1
3
5
6
7
8
gour
kumar
45.56
else will be printed this time as loop is going is going to complete itself

In [12]:
for i in l:
    if i==6:
        break
    print(i)

1
3
5

In [15]:
g = "gourav"
for i in g :
    if i == "a":
        break
    print(i)
else:
    print("print string",g)

g
o
u
r

In [16]:
g = "gourav"
for i in g :
    if i == "k":
        break
    print(i)
else:
    print("print string",g)

g
o
u
r
a
v
print string gourav

In [17]:
t = (4,5,6,7,8,6,"sudh")
for i in t:
    print(i)

4
5
6
7
8
6
sudh

In [18]:
b = {4,5,6,7,8,8,8,8,8,8,8,8,9,"sudh"}

In [19]:
b

{4, 5, 6, 7, 8, 9, 'sudh'}

In [20]:
for i in b:
    print(i)

sudh
4
5
6
7
8
9

In [21]:
d={"key1":"sudh", "contact":"ojha.gouravkumar@gamil.com", "position":"xyz"}

In [22]:
for i in d:
    print(i)

key1
contact
position

In [23]:
for i in d:
    print(d[i])

sudh
ojha.gouravkumar@gamil.com
xyz

In [25]:
for i in d:
    print(i,":",d[i])

key1 : sudh
contact : ojha.gouravkumar@gamil.com
position : xyz

In [26]:
range(9)

range(0, 9)

In [27]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [28]:
[range(9)]

[range(0, 9)]

In [29]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [30]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [31]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [1]:
n = 4
for i in range(4):
    for j in range(0,i+1):
        print("gour",end=" ")
    print("\n")

gour

gour gour

gour gour gour

gour gour gour gour

In [2]:
n=6
for i in range(0,6):
    for i in range(0,i+1):
        print("gouav",end=" ")
    print("\n")

gouav

gouav gouav

gouav gouav gouav

gouav gouav gouav gouav

gouav gouav gouav gouav gouav

gouav gouav gouav gouav gouav gouav

In [3]:
n = 3
for i in range(n):
    for j in range(i, n-1):
        print(" " *len("gourav"),end =" ")
    for j in range(i+1):
        print("gourav",end=" ")
    for i in range(i):
        print("gourav", end = " ")
    print("\n")

              gourav

       gourav gourav gourav

gourav gourav gourav gourav gourav

In [4]:
t = (3,23,45,67,2,4,5,6)

In [5]:
len(t)

8

In [6]:
range(len(t))

range(0, 8)

In [7]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [8]:
for i in range(len(t)):
    print(i)

0
1
2
3
4
5
6
7

In [9]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [10]:
s = "ineuron"

In [11]:
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [12]:
s

'ineuron'

In [13]:
range(len(s))

range(0, 7)

In [15]:
list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6]

In [16]:
list(range(len(s),0,-1))

[7, 6, 5, 4, 3, 2, 1]

In [17]:
list(range(len(s),-1,-1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [18]:
list(range(len(s)-1,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [19]:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [20]:
d = {"key1": "gourav", "contact":"ojha.gouravkumar@gmail.com", "position": "xyz"}

In [21]:
tuple(d)

('key1', 'contact', 'position')

In [22]:
d.items()

dict_items([('key1', 'gourav'), ('contact', 'ojha.gouravkumar@gmail.com'), ('position', 'xyz')])

In [2]:
d = {"key1": "gourav", "contact":"ojha.gouravkumar@gmail.com", "position": "xyz"}

In [3]:
d.items()

dict_items([('key1', 'gourav'), ('contact', 'ojha.gouravkumar@gmail.com'), ('position', 'xyz')])

In [4]:
for i in d.items():
    print(i)

('key1', 'gourav')
('contact', 'ojha.gouravkumar@gmail.com')
('position', 'xyz')

In [5]:
for i in d.items():
    print(i,type(i))

('key1', 'gourav') <class 'tuple'>
('contact', 'ojha.gouravkumar@gmail.com') <class 'tuple'>
('position', 'xyz') <class 'tuple'>

In [6]:
for i in d.items():
    print(i,type(i),type(i[i]))

TypeError: tuple indices must be integers or slices, not tuple

In [7]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'gourav') <class 'tuple'> <class 'str'>
('contact', 'ojha.gouravkumar@gmail.com') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [1]:
l = ["sudh", "kumar",3696989, "sudhanshu@ineuron.ai", 545, 446588597745]

In [2]:
l1 = []
for i in l:
    if type(i)== int:
        l1.append(i)

In [3]:
l1

[3696989, 545, 446588597745]

In [4]:
l2 = []
for i in l:
    if type(i)==str:
        l2.append(i)

In [5]:
l2

['sudh', 'kumar', 'sudhanshu@ineuron.ai']

In [6]:
d={1:336567 , "name":"sudh", "email_id": "sudhanshu@ineuron.ai", 234:"dhfuflihji",43:"hfhfh", 234:"6757"}

In [1]:
d={1:336567 , "name":"sudh", "email_id": "sudhanshu@ineuron.ai", 234:"dhfuflihji",43:"hfhfh", 234:"6757"}

In [5]:
d2={}
for i in d:
    if type(i)==int:
        print(i,":",d[i])

1 : 336567
234 : 6757
43 : hfhfh

In [6]:
d2

{}

In [7]:
d2={}
for i in d:
    if type(i)==int:
        d2.append(i)

AttributeError: 'dict' object has no attribute 'append'

In [8]:
s = "aaaaabbccd"

In [11]:
set(s)

{'a', 'b', 'c', 'd'}

In [13]:
s

'aaaaabbccd'

In [14]:
type(s)

str

In [15]:
for i in set(s):
    print(i,":",s.count(i))

a : 5
b : 2
d : 1
c : 2

In [16]:
i = 7657857475098959

In [17]:
for j in i:
    print(j)

TypeError: 'int' object is not iterable

In [18]:
str(i)

'7657857475098959'

In [19]:
for i in str(i):
    print(i)

7
6
5
7
8
5
7
4
7
5
0
9
8
9
5
9

In [21]:
i = 7657857475098959
for j in str(i):
    print(j, type(j))

7 <class 'str'>
6 <class 'str'>
5 <class 'str'>
7 <class 'str'>
8 <class 'str'>
5 <class 'str'>
7 <class 'str'>
4 <class 'str'>
7 <class 'str'>
5 <class 'str'>
0 <class 'str'>
9 <class 'str'>
8 <class 'str'>
9 <class 'str'>
5 <class 'str'>
9 <class 'str'>

In [22]:
i = 7657857475098959
for j in str(i):
    print(int(j), type(int(j)))

7 <class 'int'>
6 <class 'int'>
5 <class 'int'>
7 <class 'int'>
8 <class 'int'>
5 <class 'int'>
7 <class 'int'>
4 <class 'int'>
7 <class 'int'>
5 <class 'int'>
0 <class 'int'>
9 <class 'int'>
8 <class 'int'>
9 <class 'int'>
5 <class 'int'>
9 <class 'int'>

In [23]:
t = ("sudh" , "kumar", [1,2,3,4,5], (3,4,5,6),{"key":"sudh", "key2" : "kumar"})

In [25]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)

3
3

In [26]:
t = ("sudh" , "kumar", [1,2,3,4,5], (3,4,5,6),{3:"sudh", "key2" : "kumar"})

In [27]:
for i in t:
    if type(i)==list or type(i)==tuple or type(i)==dict:
        for j in i:
            if j==3:
                print(j)

3
3
3

In [32]:
b = ("sudh" , "kumar", [1,2,3,4,5], (3,4,5,6),{3:3, "key2" : "kumar"})

In [35]:
for i in b:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
            for k,v in i.items():
                if k==3 or k==3:
                    print(k)
                    print(v)

3
3

In [1]:
t = ("sudh" , "kumar", [1,2,3,4,5] , (3,4,5,6), {3:3, "key2" : "kumar"})

In [3]:
for i in t:
    if type(i)== list or type(i)== tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if k==3 or k==3:
                print(k)
                print(v)

3
3
3
3

In [4]:
b = ("sudh" , "kumar", [1,2,3,4,5], (3,4,5,6),{3:3, "key2" : "kumar"})

In [5]:
for i in b:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
            for k,v in i.items():
                if k==3 or k==3:
                    print(k)
                    print(v)

3
3
3
3

# self practice

In [1]:
l = [11,23,45,67,87,"ojha","kumar",245.18]

In [2]:
for i in l:
    print(i)

11
23
45
67
87
ojha
kumar
245.18

In [3]:
for i in l:
    pass

In [4]:
a = "gourav"

In [5]:
for i in a:
    print(i)

g
o
u
r
a
v

In [6]:
l

[11, 23, 45, 67, 87, 'ojha', 'kumar', 245.18]

In [7]:
for i in l:
    print(i)
else:
    print("if for loop will complete itself then only it will execute else")

11
23
45
67
87
ojha
kumar
245.18
if for loop will complete itself then only it will execute else

In [10]:
for i in l:
    if i == 87:
        break
    else:
        print("this will execute only if for loop will complete itself")

this will execute only if for loop will complete itself
this will execute only if for loop will complete itself
this will execute only if for loop will complete itself
this will execute only if for loop will complete itself

In [12]:
for i in l:
    if i == 87:
        break
    print(i)
else:
    print("this will execute only if for loop will complete itself")

11
23
45
67

In [14]:
for i in l:
    if i == 87:
        break
        print(i)
else:
    print("this will execute only if for loop will complete itself")

In [16]:
for i in l:
    if i == 87:
        break
    print(i)
else:
    print("this will execute only if for loop will complete itself")

11
23
45
67

In [17]:
s = "sudhanshu"

In [18]:
for i in s:
    if i == "n":
        break
    print(i)
else:
    print("this block will not execute")

s
u
d
h
a

In [1]:
s = "sudhanshu"

In [2]:
for i in s:
    if i == "z":
        break
    print(i)
else:
    print("print string",s)

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [3]:
t = (4,5,6,7,8,6,"sudh")

In [4]:
for i in t:
    print(i)

4
5
6
7
8
6
sudh

In [5]:
d= {4,5,6,7,7,7,7,7,8,"sudh"}

In [6]:
type(d)

set

In [8]:
d

{4, 5, 6, 7, 8, 'sudh'}

In [9]:
for i in d:
    print(i)

sudh
4
5
6
7
8

In [10]:
f = {3,4,5,6,6,6,6,6,7,8}

In [11]:
for i in f:
    print(i)

3
4
5
6
7
8

In [12]:
d = {"key1":"sudh","contact":"sudhanshu@ineuron.ai","position":"xyz"}

In [13]:
for i in d:
    print(i)

key1
contact
position

In [14]:
d["key1"]

'sudh'

In [15]:
# now i also want to print values of dict

In [16]:
for i in d:
    print(d[i])

sudh
sudhanshu@ineuron.ai
xyz

In [18]:
for i in d:
    print(i,":",d[i])

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [19]:
range(9)

range(0, 9)

In [20]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
for i in list(range(9)):
    print(i)

0
1
2
3
4
5
6
7
8

In [22]:
for i in range(12):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [23]:
range(12)

range(0, 12)

In [24]:
list(range(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [25]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [26]:
list(range(0,11,-2))

[]

In [27]:
range(0,11,2)

range(0, 11, 2)

In [28]:
list(range(9,0,-2))

[9, 7, 5, 3, 1]

In [29]:
list(range(11,0,-2))

[11, 9, 7, 5, 3, 1]

In [30]:
a = 4
for i in range(4):
    for j in range(0,i+1):
        print("sudh",end =" ")

sudh sudh sudh sudh sudh sudh sudh sudh sudh sudh

In [34]:
a = 4
for i in range(4):
    for j in range(0,i+1):
        print("sudh",end = " ")
        print("\n")

sudh

sudh

sudh

sudh

sudh

sudh

sudh

sudh

sudh

sudh

In [35]:
a = 4
for i in range(4):
    for j in range(0,i+1):
        print("sudh",end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [37]:
n = 4 
for i in range(n):
    for j in range(0,i+1):
        print("*",end = " ")
    print("\r")

*
* *
* * *
* * * *

In [38]:
a = 4
for i in range(4):
    for j in range(0,i+1):
        print("sudh",end = "")
    print("\n")

sudh

sudhsudh

sudhsudhsudh

sudhsudhsudhsudh

In [39]:
n= 6
for i in range(n):
    for j in range(0, i +2):
        print("*",end =" ")
    print("\n")

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

In [40]:
n = 6 
for c in range(n):
    for j in range(0,i+2):
        print("*",end = " ")
    print("\n")

* * * * * * *

* * * * * * *

* * * * * * *

* * * * * * *

* * * * * * *

* * * * * * *

In [42]:
n = 3 
for i in range(n):
    for j in range(i,n-1):
        print("*",end = " ")
    for j in range(i+1):
        print("*",end = " ")
    for j in range(i):
        print("*",end=" ")
    print()

* * *
* * * *
* * * * *

In [43]:
n = 3
for i in range(n):
    for j in range(i,n-1):
        print(" " *len("sudh"),end = " ")
    for j in range(i+1):
        print("sudh",end = " ")
    for j in range(i):
        print("sudh",end = " ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [44]:
t = (3,4,55,67,2,4,5)

In [45]:
len(t)

7

In [46]:
range(len(t))

range(0, 7)

In [47]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6]

In [49]:
for i in range(len(t)):
    print(i)

0
1
2
3
4
5
6

In [51]:
for i in range(0,7):
    print(i)

0
1
2
3
4
5
6

In [52]:
for i in range(t):
    print(i)

TypeError: 'tuple' object cannot be interpreted as an integer

In [53]:
t[7]

IndexError: tuple index out of range

In [54]:
t[6]

5

In [55]:
t.index(5)

6

In [56]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 4
2 55
3 67
4 2
5 4
6 5

In [57]:
s = "ineuron"

In [58]:
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [59]:
s

'ineuron'

In [60]:
range(len(s))

range(0, 7)

In [61]:
list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6]

In [63]:
list(range(len(s),0,-1))

[7, 6, 5, 4, 3, 2, 1]

In [64]:
list(range(len(s),-1,-1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [65]:
list(range(len(s)-1,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [67]:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [68]:
d = {"key1":"sudh","contact":"sudhanshu@ineuron.ai","position":"xyz"}

In [69]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [70]:
for i in d:
    print(i)

key1
contact
position

In [73]:
for i in d:
    print(i,d[i])

key1 sudh
contact sudhanshu@ineuron.ai
position xyz

In [75]:
for i in d:
    print(d.values())

dict_values(['sudh', 'sudhanshu@ineuron.ai', 'xyz'])
dict_values(['sudh', 'sudhanshu@ineuron.ai', 'xyz'])
dict_values(['sudh', 'sudhanshu@ineuron.ai', 'xyz'])

In [76]:
d.items()

dict_items([('key1', 'sudh'), ('contact', 'sudhanshu@ineuron.ai'), ('position', 'xyz')])

In [77]:
for i in d.items():
    print(i)

('key1', 'sudh')
('contact', 'sudhanshu@ineuron.ai')
('position', 'xyz')

In [78]:
for i in d:
    print(d[i])

sudh
sudhanshu@ineuron.ai
xyz

In [1]:
d = {"key1":"sudh","contact":"sudhanshu@ineuron.ai","position":"xyz"}

In [2]:
for i in d.items():
    print(i,type(i))

('key1', 'sudh') <class 'tuple'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'>
('position', 'xyz') <class 'tuple'>

In [4]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [5]:
l= ["sudh", "kumar",5458779,"ojha.gouravkumar@gmail.com",545,98788]

In [6]:
l1 = []
for i in l:
    if type(i)== str:
        l1.append(i)

In [7]:
l1

['sudh', 'kumar', 'ojha.gouravkumar@gmail.com']

In [8]:
l2 = []
for i in l:
    if type(i)==int:
        l2.append(i)

In [9]:
l2

[5458779, 545, 98788]

In [10]:
d = {1:334445, "name":"sudh" , "email_id":"ojha.gouravkumar@gmail.com",234:"jhlgjjjh",43:"kumar",123:"87667"}

In [12]:
for i in d:
    if type(i)== int:
        print(i," ",d[i])

1   334445
234   jhlgjjjh
43   kumar
123   87667

In [13]:
s = "aaabbcccd"

In [14]:
set(s)

{'a', 'b', 'c', 'd'}

In [15]:
for i in s:
    print(i)

a
a
a
b
b
c
c
c
d

In [16]:
for i in set(s):
    print(i,":",s[i])

TypeError: string indices must be integers

In [17]:
for i in set(s):
    print(i,":",s.count(i))

c : 3
a : 3
b : 2
d : 1

In [18]:
l3 = [34,56,76,98,"ojha"]

In [19]:
for i in l3:
    print(i,l3[i])

IndexError: list index out of range

In [20]:
for i in l3:
    print(i,l3.index(i))

34 0
56 1
76 2
98 3
ojha 4

In [21]:
range(l3)

TypeError: 'list' object cannot be interpreted as an integer

In [22]:
len(l3)

5

In [23]:
range(len(l3))

range(0, 5)

In [24]:
list(range(len(l3)))

[0, 1, 2, 3, 4]

In [25]:
for i in range(len(l3)):
    print(i)

0
1
2
3
4

In [26]:
for i in range(len(l3)):
    print(i,l3[i])

0 34
1 56
2 76
3 98
4 ojha

In [27]:
i = 76870884858859995008765

In [28]:
for i in i:
    print(i)

TypeError: 'int' object is not iterable

In [29]:
str(i)

'76870884858859995008765'

In [30]:
for j in str(i):
    print(j)

7
6
8
7
0
8
8
4
8
5
8
8
5
9
9
9
5
0
0
8
7
6
5

In [33]:
for j in str(i):
    print(j,str(i).index(j))

7 0
6 1
8 2
7 0
0 4
8 2
8 2
4 7
8 2
5 9
8 2
8 2
5 9
9 13
9 13
9 13
5 9
0 4
0 4
8 2
7 0
6 1
5 9

In [34]:
for j in str(i):
    print(j,str(i).count(j))

7 3
6 2
8 7
7 3
0 3
8 7
8 7
4 1
8 7
5 4
8 7
8 7
5 4
9 3
9 3
9 3
5 4
0 3
0 3
8 7
7 3
6 2
5 4

In [35]:
a = set(str(i))

In [36]:
a

{'0', '4', '5', '6', '7', '8', '9'}

In [37]:
for j in set(str(i)):
    print(j,set(str(i).count(j)))

TypeError: 'int' object is not iterable

In [40]:
for i in a:
    print(i,":",a.count(i))

AttributeError: 'set' object has no attribute 'count'

In [44]:
f ={w,e,e,w,t,y,u,i,o,p,p,p,j,j,n,n}

NameError: name 'w' is not defined

In [45]:
w = {k,l,m,n,o,p}

NameError: name 'k' is not defined

In [46]:
k = {4,5,6,7}

In [47]:
type(k)

set

In [48]:
g= {K,o,l,a,t}

NameError: name 'K' is not defined

In [49]:
a2 = {'a',"b","x",'c'}

In [50]:
a4 = {2,4,5,8,9,55,7,8,3,44,5,67}

In [51]:
a4

{2, 3, 4, 5, 7, 8, 9, 44, 55, 67}

In [52]:
for i in a4:
    print(i,a4.count(i))

AttributeError: 'set' object has no attribute 'count'

In [53]:
type(a4)

set

In [54]:
list(a4)

[2, 67, 3, 4, 5, 7, 8, 9, 44, 55]

In [55]:
s = list(a4)

In [56]:
for i in s:
    print(i,s[i])

2 3

IndexError: list index out of range

In [57]:
for i in range(len(s)):
    print(i,s[i])

0 2
1 67
2 3
3 4
4 5
5 7
6 8
7 9
8 44
9 55

In [59]:
for i in range(len(s)):
    print(i,s.count(i))

0 0
1 0
2 1
3 1
4 1
5 1
6 0
7 1
8 1
9 1

In [60]:
i = 569709679999054433
for j in str(i):
    print(j,type(j))

5 <class 'str'>
6 <class 'str'>
9 <class 'str'>
7 <class 'str'>
0 <class 'str'>
9 <class 'str'>
6 <class 'str'>
7 <class 'str'>
9 <class 'str'>
9 <class 'str'>
9 <class 'str'>
9 <class 'str'>
0 <class 'str'>
5 <class 'str'>
4 <class 'str'>
4 <class 'str'>
3 <class 'str'>
3 <class 'str'>

In [61]:
i = 569709679999054433
for j in str(i):
    print(int(j),type(int(j)))

5 <class 'int'>
6 <class 'int'>
9 <class 'int'>
7 <class 'int'>
0 <class 'int'>
9 <class 'int'>
6 <class 'int'>
7 <class 'int'>
9 <class 'int'>
9 <class 'int'>
9 <class 'int'>
9 <class 'int'>
0 <class 'int'>
5 <class 'int'>
4 <class 'int'>
4 <class 'int'>
3 <class 'int'>
3 <class 'int'>

In [62]:
# int object are not iterable

In [63]:
t = ("sudh","kumar",[1,2,3,4,5],(3,4,5,6),{"key":"sudh","key2":"kumar"})

In [64]:
t[2]

[1, 2, 3, 4, 5]

In [65]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            print(j)

1
2
3
4
5
3
4
5
6

In [66]:
# now i want to extract 3 where ever it i present

In [67]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)

3
3

In [68]:
t = ("sudh","kumar",[1,2,3,4,5],(3,4,5,6),{3:"sudh","key2":"kumar"})

In [69]:
for i in t:
    if type(i)==list or type(i)==tuple or type(i)==dict:
        for j in i:
            if j == 3:
                print(j)

3
3
3

In [70]:
t = ("sudh","kumar",[1,2,3,4,5],(3,4,5,6),{3:3,"key2":"kumar"})

In [71]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)== dict:
        print(i)

3
3
{3: 3, 'key2': 'kumar'}

In [72]:
for i in t:
    if type(i)==list or type(i)==tuple or type(i)==dict:
        for j in i:
            if j == 3:
                print(j)

3
3
3

In [73]:
for i in t:
    if type(i)==list or type(i)== tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if k ==3 or v ==3:
                print(k)
                print(v)

3
3
3
3

In [1]:
t = ("sudh","kumar",[1,2,3,4,5],(3,4,5,6),{3:3,"key2":"kumar"})

In [2]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j== 3:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if k ==3 or v ==3:
                print(k)
                print(v)

3
3
3
3

In [3]:
d = {4:5,"key1":"sudh","key2":"kumar"}

In [4]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [5]:
for i in d:
    print(i,":",d[i])

4 : 5
key1 : sudh
key2 : kumar

In [6]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [7]:
s = d.items()

In [8]:
s

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [9]:
# how to write odd number using for loop

In [10]:
l1 = [10,21,4,45,66,93]

In [11]:
for num in l1:
    if num % 2 !=0:
        print(num,end = " ")

21 45 93

In [12]:
for i in l1:
    if i %2 !=0:
        print(i)

21
45
93

In [14]:
for i in l1:
    if i %2 ==0:
        print(i)

10
4
66

In [15]:
for i in l1:
    if i %2==0:
        print(i,end= " ")

10 4 66

In [16]:
range(100)

range(0, 100)

In [17]:
list(range(100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [19]:
for i in list(range(100)):
    if i %2 !=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [20]:
for i in list(range(100)):
    if i %2 !=0:
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [21]:
for i in range(100):
    if i %2 !=0:
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [22]:
for i in range(100):
    if i %2 ==0:
        print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [23]:
for i in range(101):
    if i%2==0:
        print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [24]:
for i in range(101):
    if i%2 !=0:
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [1]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [2]:
for i in l:
    if i%2 !=0:
        print(i,end = " ")

1 3 5 7 9 11 13 15 17 19

In [4]:
for i in l:
    print(i,i+1,end=" ")

1 2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 10 10 11 11 12 12 13 13 14 14 15 15 16 16 17 17 18 18 19 19 20 20 21

In [5]:
for i in l:
    print(i+1)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [6]:
l1= []
for i in l:
    if i%2 ==0:
        l1.append(i)

In [7]:
l1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
l2 = []
for i in l:
    if i%2!=0:
        l2.append(i)

In [9]:
l2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]