In [3]:
def test(a,b):
    return a +b

  # here function will take input value as a,b

In [4]:
test(4,6)

10

In [6]:
test("sudh"," kumar")

'sudh kumar'

In [7]:
test(a = 9,b= 6)

15

In [8]:
test(b= 45,a=3)

48

In [9]:
print()     # here shift tab in print will give docstring

In [11]:
test(a = 9,b= 6)    # here shift tab will give no docstring as we have not mentioned that why this function has been created
 #  what is the nature of function and what are the parameter

15

In [12]:
# so all  the inbuild funcion are having docstring and even we can creat that

In [14]:
def test(a,b):
    '''this is my function for concatination or addition'''
    return a +b
# even double qoutes can be used for creating docstring

In [ ]:
test(a,b)

In [15]:
def test1(a,b,c,d,e):
    return a,b,c,d,e

In [18]:
test1(3,4,5,6,7,8)    # error because it was expecting 5 parameter or 5 varibale values  but 6 arguments has been passed

TypeError: test1() takes 5 positional arguments but 6 were given

In [20]:
test1(4,5,6,7,8)   # now it is fine

(4, 5, 6, 7, 8)

In [21]:
test1(3,4,5,6)

TypeError: test1() missing 1 required positional argument: 'e'

In [22]:
# now i want to creat a function where i dont want such problem and can pass many arguments without limitation

In [23]:
def test(*a):
    return a

In [24]:
test(4,5)

(4, 5)

In [25]:
test(23,3,4,5,6,7)

(23, 3, 4, 5, 6, 7)

In [26]:
test(1,2,3,4,5,6,[3,4,5,5,9])

(1, 2, 3, 4, 5, 6, [3, 4, 5, 5, 9])

In [27]:
def test4(*args):
    return args
 # well in internet we will see this args a lot but it is not a keyword it is just a name like it can be your

In [28]:
test4(34,45,5,66)

(34, 45, 5, 66)

In [1]:
def test5(*a):
    l =[]
    for i in a:
        l.append(i)
    return l

In [2]:
test5(2,3,4,45,5,[345,56,5,6])

[2, 3, 4, 45, 5, [345, 56, 5, 6]]

In [3]:
# in the  above i want all the data in list so such function is created

In [4]:
test5(3,4,5,56)

[3, 4, 5, 56]

In [5]:
def test6(a,b,c,d,*m):
    return a,b,c,d,m

In [8]:
test6(3,4,5,5,6,6,7,7,8,8)    # the value of a,b,c,d is 3,4,5,5 and value of m is (6,6,7,7,8,8)

(3, 4, 5, 5, (6, 6, 7, 7, 8, 8))

In [9]:
def test7(*m,a,b,c,d,e):
    return m, a,b,c,d,e

In [11]:
test7(4,5,65,6,6,7,7,56,67,34,54,67,78)     # error because when asteric m is placed at first it is considering the all value in
                                            # itself and there is no arguements for a,b,c,d and e

TypeError: test7() missing 5 required keyword-only arguments: 'a', 'b', 'c', 'd', and 'e'

In [12]:
# so we  can overcome this error by providing name asignement

In [13]:
test7(4,5,65,6,6,7,7,56,a=67,b=34,c=54,d=67,e=78)

((4, 5, 65, 6, 6, 7, 7, 56), 67, 34, 54, 67, 78)

In [14]:
def test8(**sudh):
    return sudh

In [16]:
test8(4,5,6,6)    #error is coming because double asteric is there and it is expecting key value type data or dict kind data

TypeError: test8() takes 0 positional arguments but 4 were given

In [17]:
test8(b=4,c= 5,d=6,o= 6)

{'b': 4, 'c': 5, 'd': 6, 'o': 6}

In [19]:
d = {'b': 4, 'c': 5, 'd': 6, 'o': 6}

In [21]:
test8(d)   # so error will come because u have  to asign the value in key value pair

TypeError: test8() takes 0 positional arguments but 1 was given

In [22]:
# so single asteric means u can take any number of variable and function will  always consider that as tuple
# and double asteric means u will be able to dict

In [23]:
def test9(*n,**s):
    return n, s

In [24]:
test9(345,45,56,5,6,56,b=4,c=6,d=7,g=9)

((345, 45, 56, 5, 6, 56), {'b': 4, 'c': 6, 'd': 7, 'g': 9})

In [1]:
def ojha(*a):
    l= []
    for i in a:
        l.append(i)
    return l

In [2]:
ojha("kumar",1,2,3,4,[6,5,4,3])

['kumar', 1, 2, 3, 4, [6, 5, 4, 3]]

In [3]:
def ojha1(*k,**m):
    return k,m

In [5]:
ojha1(1,2,3,4,5, a=8,b=5,c=7,d=4)

((1, 2, 3, 4, 5), {'a': 8, 'b': 5, 'c': 7, 'd': 4})

In [13]:
def test10(*m):
    n= 0
    for i in m:
        if type(i) == int:
            n= n+i
    return n

In [14]:
test10(2,3,4)

9

In [3]:
def nice(*b):
    a= 0
    l= []
    for i in b:
        if type== int:
            l.append(i)
        a=a+i
    return a

In [4]:
nice(4,5,6)

15

In [5]:
# take care of indentation

In [6]:
# so above function is for sumation of all int value given on run time

In [8]:
# so i can create same function for multiplication   but make sure to take value of a =1 not zero,zero is taken during sumation

In [9]:
def test(*v):
    a= 1
    l= []
    for i in v:
        if type(i)==int:
            l.append(i)
        a=a*i
    return a

In [10]:
test(4,5)

20

In [11]:
test(2.5,4)

10.0

In [21]:
def test1(*v):
    a= 0
    l= []
    for i in v:
        if type(i)==int:
            l.append(i)
        a=i-a
    return a

In [22]:
test1(5,3)   # will learn later how to create sub function

-2

In [24]:
# lambda or anonymous function or in line function

In [25]:
n= lambda a,b:a+b

In [26]:
n(4,5)

9

In [27]:
def test1(a,b):
    return a+b

In [28]:
test1(4,5)

9

In [29]:
# so in the above we use lambda to create same function as created below

In [31]:
# so lambda is called anonymous fucnction as no name is given for this function.it is a function without a name

In [32]:
# generally we avoid lambda function for writting complex code but simpler one we can use it

In [33]:
n(6,5)

11

In [34]:
c=lambda a,b:a*b

In [35]:
c(7,6)

42

In [36]:
b= lambda *sudh:sudh

In [37]:
b(45,5,4,5,5,6,667)

(45, 5, 4, 5, 5, 6, 667)

In [38]:
# comprehension operation

In [39]:
t=(3,4,4,5,5,6,67,7,7)

In [40]:
list(t)

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [41]:
t

(3, 4, 4, 5, 5, 6, 67, 7, 7)

In [42]:
list(t)=f

SyntaxError: cannot assign to function call (3452139137.py, line 1)

In [43]:
f= list(t)

In [44]:
f

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [45]:
# now without using list function it can also be converted into list

In [46]:
t=(3,4,4,5,5,6,67,7,7)
l=[]
for i in t:
    l.append(i)

In [47]:
l

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [48]:
# comprehension operation

In [49]:
t=(3,4,4,5,5,6,67,7,7)

In [51]:
[ i for  i in t]    # for i in t return i, i will be in left

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [52]:
s = "sudh"

In [53]:
[ i for i in s]

['s', 'u', 'd', 'h']

In [54]:
# now if i want to get same result without comprehension operation then loop or list function  can be used

In [2]:
def test(*a):
    n=0
    for i in a:
        if type(i)==int:
            n=n+i
    return n

In [3]:
test(6,7)

13

In [5]:
def test1(*a):
    n=1
    for i in a:
        if type(i)==int:
            n=n*i
    return n

In [6]:
test1(5,4)

20

In [7]:
f=lambda a,b:a+b

In [8]:
f(4,5)

9

In [9]:
v= lambda a,b:a*b

In [10]:
v(3,4,5)

TypeError: <lambda>() takes 2 positional arguments but 3 were given

In [11]:
b=lambda a,b,c:a*b*c

In [12]:
b(3,4,5)

60

In [13]:
t=(3,4,4,5,5,6,67,7,7)

In [14]:
[i for i in t]

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [15]:
s= "sudh"

In [16]:
[i for i in s]

['s', 'u', 'd', 'h']

In [18]:
# generate list square of each number till 10?

In [19]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
for i in range(10):
    print(i*i,end=" ")

0 1 4 9 16 25 36 49 64 81

In [23]:
for i in range(10):
    i=i*i
    print(i,end=" ")

0 1 4 9 16 25 36 49 64 81

In [24]:
# now  i want the square in the list

In [33]:
for i in range(10):
    l=[]
    i=i*i
    l.append(i)

In [35]:
l   # wrong way to do

[6561]

In [36]:
l=[]
for i in range(10):
    l.append(i*i)

In [37]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
for i in range(10):
    print(list([i*i]))

[0]
[1]
[4]
[9]
[16]
[25]
[36]
[49]
[64]
[81]

In [43]:
# line 36 is the right way to obtained the list of square number

In [2]:
# so comoprehension operation will return the list

In [3]:
l= lambda *x : [  i for i in x]

In [4]:
l(4,45,5,6,6,7,8,9)

[4, 45, 5, 6, 6, 7, 8, 9]

In [7]:
l= lambda *x : [  i*i for i in x]    # if i am looking for square of every number that i give

In [6]:
l(4,45,5,6,6,7,8,9)

[16, 2025, 25, 36, 36, 49, 64, 81]

In [9]:
l= lambda *x : [  i**2 for i in x]    # if i am looking for square of every number that i give  , here double asteric means square

In [10]:
l(2,3,4,5,6,7)

[4, 9, 16, 25, 36, 49]

In [13]:
test1(a=7,b="sudh",c=345,d="sudh", l=[2,3,4,45,"sudh"])

NameError: name 'test1' is not defined

In [1]:
test1(a=7,b="sudh",c=345,d="sudh", l=[2,3,4,45,"sudh"])

NameError: name 'test1' is not defined

In [4]:
test14(a = 7 ,b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45, "sudh"])

NameError: name 'test14' is not defined

In [1]:
test14(a = 7 ,b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45, "sudh"])

NameError: name 'test14' is not defined

In [1]:
test14(a = 7 , b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45, "sudh"])

NameError: name 'test14' is not defined

In [8]:
test14(a = 7 , b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45, "sudh"])   # error because i was trying to call the function
# without definig it

3

In [5]:
test14(a = 7 , b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45, "sudh"])
# create a function to count the number of string in test14
def test14(**kwargs):
    count = 0
    for i in kwargs.values():
        if type(i)==str or type(i)==list:
            count +=1
    return count

NameError: name 'test14' is not defined

In [6]:
def test14(**kwargs):
    count  = 0
    for i in kwargs.values():
        if type(i)==str or type(i)==list:
            count+=1
    return count

In [7]:
test14(a = 7 , b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45, "sudh"])

3

In [9]:
# so apart from line six every where i was ttrying to call the function test14 without defining it

In [10]:
def test14(**kwargs):
    count  = 0
    print(kwargs)
    print(kwargs.values())
    for i in kwargs.values():
        if type(i)==str or type(i)==list:
            count+=1
    return count

In [11]:
test14(a = 7 , b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45, "sudh"])

{'a': 7, 'b': 'sudh', 'c': 345, 'd': 'sudh', 'l': [2, 3, 4, 45, 'sudh']}
dict_values([7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']])

3

In [2]:
# now i want a list of data which i will pass as key word on run time

In [6]:
def test15(**kwargs):
    return list(kwargs.values())

In [7]:
test15(a = 7 , b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45, "sudh"])

[7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']]

In [ ]:
# todays task :
#q1 try to print a prime number in between 1 to 1000
#q2 try to write a function which is equivalent to print function in python
#q3 try to write a function which is a replica of list append , extend and pop function 
#q4 try to write a lambda function which can return a concatination of all the string that we will pass
#q5 try to write a lambda function which can return list of square of all the data between 1-100
#q6 try to write a 10 different example of lambda function with a choice of your task
#q7 try to write a function which can perform a read operation from .txt file
# shivan@ineuron.ai        ,     sudhanshu@ineuron.ai

In [8]:
# doubt session

In [9]:
def test16(**kwargs):
    count = 0
    for i in kwargs.values():
        if type(i)==str:
            count +=1
        if type(i)==list:
            for v in i:
                if type(v)==str:
                    count +=1
    return count

In [10]:
test16(a = 7 , b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45, "sudh"])

3

In [13]:
def test16(**kwargs):
    count = 0
    for i in kwargs.values():
        if type(i)==str:
            count +=1
        if type(i)==list:
            for v in i:
                if type(v)==str:
                    count +=1
                    print(kwargs)
                    print(kwargs.values())
    return count

In [14]:
test16(a = 7 , b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45, "sudh"])

{'a': 7, 'b': 'sudh', 'c': 345, 'd': 'sudh', 'l': [2, 3, 4, 45, 'sudh']}
dict_values([7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']])

3

In [15]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
l=[1,2,4,5,[1,3,4,6]]

In [29]:
for i in l:
    if type(i)==list:
        l.pop(2)

In [30]:
l

[1, 2, 5, [1, 3, 4, 6]]

In [32]:
t=[1,2,4,5,[1,3,4,6]]

In [33]:
for i in t:
    if type(i)==list:
        for j in i:
            if type(j)==list:
                l.pop(2)

In [34]:
t

[1, 2, 4, 5, [1, 3, 4, 6]]

In [35]:
t.pop[4][2]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [39]:
d=[]
for i in t:
    if type(i)==list:
        for j in i:
            d.append(j)

In [40]:
d

[1, 3, 4, 6]

In [41]:
d.pop(2)

4

In [42]:
d

[1, 3, 6]

In [43]:
# in the above it was required to  remove 4 from list which is inside the list

In [1]:
b= lambda *a:a +2

In [2]:
b(1,2,3)

TypeError: can only concatenate tuple (not "int") to tuple

In [6]:
def test5(*a,x,y,z):
    return *a,x,y,z

In [4]:
test5(x=6,y=7,z=8,1,2,3,67,9)

SyntaxError: positional argument follows keyword argument (1816659707.py, line 1)

In [7]:
test5(1,2,3,67,9,x=6,y=7,z=8)

(1, 2, 3, 67, 9, 6, 7, 8)

In [8]:
def test5(*a,x,y,z):
    return a,x,y,z

In [9]:
test5(1,2,3,67,9,x=6,y=7,z=8)

((1, 2, 3, 67, 9), 6, 7, 8)

In [10]:
def aad(a,b):
    '''this is my function '''
    z=a+b
    return z
    h=a*b
    return h

In [11]:
aad(2,3)

5

In [13]:
def add(a,b):
    z=a+b
    h=a*b
    return z,h

In [14]:
add(3,4)

(7, 12)

In [16]:
def test10(**m,*b):       # so we need to put single asteric first then double
    return m,b

SyntaxError: invalid syntax (3236543253.py, line 1)

In [17]:
def test10(*b,**m):
    return b,m

In [18]:
test10(2,3,4,5,a=9,b=8,c=5)

((2, 3, 4, 5), {'a': 9, 'b': 8, 'c': 5})

In [19]:
d={"ab":1,'cd':2,"ef":3}
for i in d:
    print(i)
# by defualt it is going to itetrate only key

ab
cd
ef

In [20]:
d

{'ab': 1, 'cd': 2, 'ef': 3}

In [21]:
for i in d.values():
    print(i)

1
2
3

In [28]:
for i in d.items():
    print(i,":",end=" ")

('ab', 1) : ('cd', 2) : ('ef', 3) :

In [29]:
# multiple return i s also possible in list comrehension

In [37]:
def test15(**kwargs):
    {i:j for i,j in kwargs.items()}

In [40]:
test15(a=1,b=3,c=4,d=5)   # samjh nahi aaya

In [5]:
def func(**kwargs):
    count = 0
    for i in kwargs.values():
        if type(i)==list:
            for ele in i:
                if type(ele)==str:
                    count +=1
    return count

In [7]:
func(a = 7 , b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45, "sudh"])    # not the correct the output

1