In [1]:
#Q1)write a python script to print mysirg N times on the screen

In [3]:
n=int(input(" enter the number: "))
for i in range(n):
    print("mysirg",end=" ")

 enter the number: 5
mysirg mysirg mysirg mysirg mysirg

In [4]:
#2)write a python script to print first N natural numbers.

In [6]:
for i in range(int(input("enter the natural number: "))):
    print(i+1,end=" ")

enter the natural number: 10
1 2 3 4 5 6 7 8 9 10

In [7]:
#3)write a python script to print first N natural numbers in reverse order.

In [10]:
n= int(input("enter a number: "))
for i in range(n):
    print(n-i,end=" ")

enter a number: 10
10 9 8 7 6 5 4 3 2 1

In [11]:
#4)write a python script to print first N odd natural numbers.

In [14]:
n=int(input("enter the number of first odd natural no.: "))
for i in range(n):
    if i%2 !=0:
        print(i,end=" ")

enter the number of first odd natural no.: 10
1 3 5 7 9

In [15]:
#5)write a python script to print first N odd natural number in reverse order

In [16]:
n=int(input("enter the number: "))
for i in range(n):
    if i%2!=0:
        print(n-i,end=" ")

enter the number: 10
9 7 5 3 1

In [17]:
#6)write a python script to print first N even natural numbers.

In [18]:
n=int(input("enter the number: "))
for i in range(n):
    if i%2==0:
        print(i,end=" ")

enter the number: 10
0 2 4 6 8

In [19]:
#7)write a python script to print first N even natural numbers in reverse order

In [20]:
n= int(input("enter the number: "))
for i in range(n):
    if i%2==0:
        print(n-i,end=" ")

enter the number: 10
10 8 6 4 2

In [21]:
#8)write a python script to print squares of first N natural numbers.

In [22]:
n=int(input("enter the number: "))
for i in range(n):
    print(i**2,end=" ")

enter the number: 10
0 1 4 9 16 25 36 49 64 81

In [23]:
#9)write a python script to print cubes of first N natural numbers.

In [24]:
for i in range(int(input("enter the number: "))):
    print(i**3,end=" ")

enter the number: 10
0 1 8 27 64 125 216 343 512 729

In [25]:
#10)write a python script to print first 10 multiples of N natural number

In [29]:
n=int(input("enter the number: "))
for i in range(1,11):
    print(n*i)

enter the number: 5
5
10
15
20
25
30
35
40
45
50

In [1]:
n=int(input("enter the number: "))
for i in range(1,11):
    print(n*i)

enter the number: 10
10
20
30
40
50
60
70
80
90
100