In [1]:
#1)write a python script to remove the last digit from a given number.(for eg
# if user enters 2534 then your output should be 253)

In [2]:
number=int(input("enter the number: "))
#use case,number=2534, output=253
#operation,number/10
number=int(number/10) # this will give true value but i converted it into int
print("new value of a number",number,sep='\n')

enter the number: 2534
new value of a number
253

In [4]:
number=int(input("enter the number: "))
#use case,number=2534, output=253
#operation,number//10
number=(number//10) # floar division which always gives lower of two
print("new value of a number",number,sep='\n')

enter the number: 2534
new value of a number
253

In [6]:
#2) write a python script to get the last digit from a given number.(for eg.if
#user enters 2089 then your output should be 9)

In [8]:
number=int(input("enter the number: "))
#use case,number=2089, output=9
#opertion,number%10
number=number%10    # modulus operator|
print("new value of number",number,sep='\n')

enter the number: 2089
new value of number
9

In [9]:
#3)write a python script to swap data of two variables

In [10]:
x=5
y=10

In [11]:
x,y=y,x
print("x =",x)
print("y =",y)

x = 10
y = 5

In [12]:
# another way

In [13]:
number_1=int(input("enter a number: "))
number_2=int(input("enter a number: "))
temp=number_1
number_1=number_2
number_2=temp
print("new value of a number_1: ",number_1,sep='\n')
print("new value of a number_2: ",number_2,sep='\n')

enter a number: 10
enter a number: 20
new value of a number_1:
20
new value of a number_2:
10

In [14]:
#4)write a python script to find x power y,where values of x and y are given by
# user

In [17]:
x=int(input("enter a number x: "))
y=int(input("enter a number y: "))
#operation = x**y
value_of_x_to_power_y=x**y
print("value of x to the power y")
print(value_of_x_to_power_y)

enter a number x: 2
enter a number y: 3
value of x to the power y
8

In [18]:
#5)write a python script which takes a three digit number from the user and 
# displays only its first digit.

In [19]:
number=int(input("enter a three digit number: "))
#use case,number=253,output=2
#operation - number//100 floar division operator
number=number//100
print("new value of number",number,sep='\n')

enter a three digit number: 253
new value of number
2

In [21]:
#6)write a python script which takes a three digit number from the user and
# displays only its middle digit.

In [25]:
number=int(input("enter a number: "))
#use case, number=253,output=5
#operation-number//10,answer%10
number=number//10
answer=number%10
print("middle number",answer,sep='\n')

enter a number: 253
middle number
5

In [26]:
#7)write a python script which takes a three digit number from the user and
# displays only its last digit.

In [28]:
number=int(input("enter a three digit number: "))
#use case:number=256,output=6
#operation: number%10
number=number%10
print("new number is ",number,sep='\n')

enter a three digit number: 256
new number is
6

In [1]:
#8)write a python script to use IN operator to display the data present in the 
# list

In [2]:
l=["ojha",29,0.05,3+4j,"beauty"]

In [4]:
"ojha" in l

True

In [5]:
3+4j in l

True

In [6]:
"kumar" not in l

True

In [7]:
"ojha" not in l

False

In [8]:
#10)write a python script to use IS operator to display if both variables
#   are the same object or not?

In [14]:
list_1=[0,3,4,5,2]
list_2=[0,3,4,5,2]
print(list_1 is list_2)# both the list are having different memory location
print(list_1 == list_2)# it is comparing element of both the list

False
True

In [9]:
a=10
b=10

In [10]:
a is b

True

In [11]:
a=5
b=8

In [12]:
a is b

False