In [1]:
def test(a,b):
    return a+b

In [2]:
test(4,6)

10

In [4]:
test("sudh"," kumar")

'sudh kumar'

In [5]:
test(a=9,b=6)

15

In [6]:
test(b=45,a=3)

48

In [7]:
print()

In [8]:
def test(a,b):
    '''this is my function for concatination or addition'''
    return a+b

In [10]:
test(a,b)
    pass

SyntaxError: invalid syntax (329953679.py, line 1)

In [11]:
def test1(a,b,c,d,e):
    return a,b,c,d,e

In [12]:
test1(3,4,5,6,7,8)

TypeError: test1() takes 5 positional arguments but 6 were given

In [13]:
test1(3,4,5,6,7)

(3, 4, 5, 6, 7)

In [14]:
test1(3,4,5,6)

TypeError: test1() missing 1 required positional argument: 'e'

In [15]:
def test(*a):
    return a

In [16]:
test(4,5)

(4, 5)

In [17]:
test(23,4,5,6,7,8)

(23, 4, 5, 6, 7, 8)

In [18]:
test(1,2,3,4,5,6,[3,4,5,5,9])

(1, 2, 3, 4, 5, 6, [3, 4, 5, 5, 9])

In [19]:
def test4(*args):
    return args

In [20]:
test4(34,45,5,56)

(34, 45, 5, 56)

In [21]:
def test4(*a):
    l=[]
    for i in a:
        l.append(i)
    return l

In [22]:
test4(2,3,4,45,5,[345,56,5,6])

[2, 3, 4, 45, 5, [345, 56, 5, 6]]

In [23]:
test4(3,4,5,65)

[3, 4, 5, 65]

In [1]:
# in the above i wanted data in the list

In [2]:
def test(*a):
    l=()
    for i in a:
        l.append(i)
    return l

In [4]:
test(2,3,4,[5,6,7])   # i cannot perform this append function with tuple

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
def test1(a,b,c,d,*m):
    return a,b,c,d,m

In [6]:
test1(1,2,3,4,45,67,87,99,)

(1, 2, 3, 4, (45, 67, 87, 99))

In [7]:
def test2(*m,a,b,c,d):
    return m,a,b,c,d

In [8]:
test2(2,45,6,7,89,65,43,4)

TypeError: test2() missing 4 required keyword-only arguments: 'a', 'b', 'c', and 'd'

In [9]:
test2(2,45,6,7,a=89,b=65,c=43,d=4)

((2, 45, 6, 7), 89, 65, 43, 4)

In [10]:
def test3(**sudh):
    return sudh

In [11]:
test3(3,4,5)

TypeError: test3() takes 0 positional arguments but 3 were given

In [12]:
def test3(**s):
    return s

In [14]:
test3(a=2,b=4,c=5,d=7)  # so double asteric means it is expecting key value type 
                         # data or dict type data

{'a': 2, 'b': 4, 'c': 5, 'd': 7}

In [15]:
def test4(*n,**s):
    return n,s

In [17]:
test4(2,3,4,5,667,78,a=29,b=95,c=67,d=55)

((2, 3, 4, 5, 667, 78), {'a': 29, 'b': 95, 'c': 67, 'd': 55})

In [18]:
def ojha(*a):
    l=[]
    for i in a:
        l.append(i)
    return l

In [20]:
ojha("ojha","sudh","shukla",2,3,4)  # so to get a list while using return function 
                                    # we have to use append funct

['ojha', 'sudh', 'shukla', 2, 3, 4]

In [21]:
# now i want to create a function for addition

In [31]:
def test6(*m):
    a=0
    for i in m:
        if type(i)==int:
            a+=1   # it should be i not 1
    return a

In [23]:
test6(2,3,4)

3

In [24]:
def test10(*m):
    n=0
    for i in m:
        if type(i)==int:
            n=n+1
    return n

In [25]:
test10(2,3,4)

3

In [26]:
def nice(*b):
    a= 0
    l=[]
    for i in b:
        if type == int:
            l.append(i)
        a=a+1
    return a

In [27]:
nice(4,5,6)

3

In [13]:
def nice(*b):
    a= 0
    l=[]
    for i in b:
        if type == int:
            l.append(i)
        a=a+1
    return a

In [14]:
nice(4,5)

2

In [10]:
def test(*v):
    a=1
    l=[]
    for i in v:
        if type(i)==int:
            l.append(i)
        a=a*i
    return a

In [4]:
test(4,5)

20

In [5]:
test(5,6,4)

120

In [7]:
test(2.5,4)

10.0

In [8]:
def test(*v):
    a=0
    l=[]
    for i in v:
        if type(i)==int:
            l.append(i)
            a=a+i
    return a

In [9]:
test(2,3,4)

9

In [15]:
test(4,5,6)

120

In [16]:
def test8(*v):
    a=0
    l=[]
    for i in v:
        if type(i)==int:
            l.append(i)
            a=a+i
    return a

In [17]:
test8(2,3,5)

10

In [20]:
def nice(*b):
    a= 0
    l=[]
    for i in b:
        if type(i) == int:
            l.append(i)
            a=a+1
    return a

In [21]:
nice(2,3,5)

3

In [28]:
def test6(*v):
    a=0
    l=[]
    for i in v:
        if type(i)==int:
            l.append(i)
            a=a+1        # look what u have written 1 it should be i
    return a

In [23]:
test6(2,3,4)

3

In [24]:
def test8(*v):
    a=0
    l=[]
    for i in v:
        if type(i)==int:
            l.append(i)
            a=a+i
    return a

In [25]:
test8(2,3,4)

9

In [26]:
test8(6,6,7)

19

In [27]:
test6(6,6,7)

3

In [29]:
def test6(*m):
    a=0
    for i in m:
        if type(i)==int:
            a+=i
    return a

In [30]:
test6(5,6,8)

19

In [32]:
def nice1(*h):
    a=1
    for i in h:
        if type(i)==int:
            a=a*i
    return a

In [34]:
nice1(3,4,5)

60

# lambda function

In [35]:
n=lambda a,b:a+b

In [36]:
n(4,5)

9

In [37]:
def test9(a,b):
    return a+b

In [38]:
test9(9,7)

16

In [39]:
d= lambda a,b:a*b

In [40]:
d(5,9)

45

In [41]:
b= lambda *sudh:sudh

In [42]:
b(3,34,45,56,76,89)

(3, 34, 45, 56, 76, 89)

In [43]:
# comprehension operation

In [44]:
t=(3,4,4,5,5,6,67,7,7)

In [45]:
list(t)

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [46]:
t

(3, 4, 4, 5, 5, 6, 67, 7, 7)

In [47]:
a=list(t)

In [48]:
a

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [49]:
# now without using list function it can also be converted into list

In [50]:
t=(3,4,4,5,5,6,67,7,7)
l=[]
for i in t:
    l.append(i)

In [51]:
l

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [52]:
t=(3,4,4,5,5,6,67,7,7)

In [54]:
[i for i in t] # for i in t return i

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [55]:
s="sudh"

In [56]:
[i for i in s]

['s', 'u', 'd', 'h']

In [60]:
def ojha(*k):
    a=0
    for i in k:
        if type(i)==int:
            a=a+i
    return a

In [61]:
ojha(5,6)

11

In [64]:
d=lambda a,b:a+b  # with the  help of lamda function we can reduce the line of code

In [63]:
d(5,6)

11

In [65]:
v= lambda a,b:a*b

In [66]:
v(3,4,5)

TypeError: <lambda>() takes 2 positional arguments but 3 were given

In [67]:
v= lambda a,b,c:a*b*c

In [68]:
v(3,4,5)

60

In [69]:
# generate list square of each number till 10?

In [70]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
for i in range(10):
    print(i*i,end=" ")

0 1 4 9 16 25 36 49 64 81

In [73]:
# now i want the above squares in list

In [74]:
for i in range(10):
    l=[]
    i=i*i
    l.append(i)

In [75]:
l

[81]

In [76]:
l=[]
for i in range(10):
    l.append(i*i)

In [77]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [78]:
for i in range(10):
    print(i*i,end=" ")

0 1 4 9 16 25 36 49 64 81

In [79]:
for i in range(10):
    print(list[i*i],end=" ")

list[0] list[1] list[4] list[9] list[16] list[25] list[36] list[49] list[64] list[81]

In [1]:
[(i+1)**2  for i in range(10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
def test(*k):
    a=0
    for i in k:
        if type(i)==int:
            a+=i
    return a

In [5]:
test(5,6)

11

In [6]:
# comprhension operation will always return the list

In [7]:
l= lambda *x: [i for i in x]

In [8]:
l(4,5,6,7,8,9,11,12,13)

[4, 5, 6, 7, 8, 9, 11, 12, 13]

In [9]:
l= lambda *x: [i**2 for i in x]

In [10]:
l(4,5,6,7,8,9,11,12,13)

[16, 25, 36, 49, 64, 81, 121, 144, 169]

In [11]:
# create a function to count the number of string

In [14]:
def test14(**kwargs):
    count=0
    for i in kwargs.values():
        if type(i)==str or type(i)==list:
            count=count+1
    return count

In [15]:
test14(a=7,b="sudh",c=345,d="sudh",l=[2,3,4,45,"sudh"])

3

In [16]:
def test14(**kwargs):
    count=0
    print(kwargs)
    print(kwargs.values())
    for i in kwargs.values():
        if type(i)==str or type(i)==list:
            count=count+1
    return count

In [17]:
test14(a=7,b="sudh",c=345,d="sudh",l=[2,3,4,45,"sudh"])

{'a': 7, 'b': 'sudh', 'c': 345, 'd': 'sudh', 'l': [2, 3, 4, 45, 'sudh']}
dict_values([7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']])

3

In [18]:
# now i want a list of data which i will pass on run time

In [20]:
def test15(**kwargs):
    return list(kwargs.values())

In [21]:
test15(a=7,b="sudh",c=345,d="sudh",l=[2,3,4,45,"sudh"])

[7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']]

In [22]:
t=[1,2,4,5,[1,3,4,6]] # i want to delete 4 from internal list

In [23]:
d=[]
for i in t:
    if type(i)==list:
        for j in i:
            d.append(j)

In [24]:
d

[1, 3, 4, 6]

In [25]:
d.pop(2)

4

In [26]:
d

[1, 3, 6]